@keyframes addCard {
  0% {
    box-shadow: -100vw 0px 0px -1px var(--b3-protyle-inline-mark-background) inset;
  }
  100% {
    box-shadow: -3px 0px 0px -1px var(--b3-protyle-inline-mark-background) inset;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: block;
  }

  to {
    opacity: 1;
    display: block;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes scale {
  0% {
    transform: scaleY(1.3);
    transform-origin: 0 0;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes stripMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
