@media (max-width: 750px) {
  .config {
    &__panel {
      & > .b3-tab-bar {
        width: auto;

        .b3-list-item__text {
          display: none;
        }

        .b3-list-item__graphic {
          margin-right: 0;
        }
      }

      .config-query label {
        width: 100%;
        margin-top: 8px;
      }

      .config-account {
        flex-direction: column;
        min-height: 100%;
      }
    }

    &__item {
      flex-wrap: wrap;

      & > .b3-text-field,
      & > .b3-select,
      .b3-slider,
      & > .b3-button,
      & > .b3-tooltips,
      & > .b3-form__icona,
      &-line,
      .searchByKeyLabel {
        width: 100%;
        margin-top: 8px;
      }
    }

    &-keymap {
      label.b3-list-item {
        flex-wrap: wrap;
      }

      .b3-list-item__action {
        display: flex;
      }

      .config-keymap__key,
      .b3-text-field {
        width: 100%;
        margin-left: 0 !important;
        text-align: center;
      }
    }
  }
}
