@media (max-width: 750px) {
  .config {
    &__panel {
      & > .b3-tab-bar {
        width: auto;

        .b3-list-item__text,
        .b3-form__icon {
          display: none;
        }

        .b3-list-item__graphic {
          padding-right: 5px;
        }

        .config__tab-hr {
          margin: 0 0 4px 0;
        }

        .config__tab-title {
          height: 25px;
        }
      }

      .config-query label {
        width: 100%;
        margin-top: 8px;
      }

      .config-account {
        flex-direction: column;
        min-height: 100%;
      }
    }

    &__item {
      flex-wrap: wrap;

      & > .b3-text-field,
      & > .b3-select,
      .b3-slider,
      & > .b3-button,
      & > .b3-tooltips,
      & > .b3-form__icona,
      &-line,
      .searchByKeyLabel {
        width: 100%;
        margin-top: 8px;
      }
    }

    &-keymap {
      label.b3-list-item {
        flex-wrap: wrap;
      }

      .b3-list-item__action {
        display: flex;
      }

      .config-keymap__key,
      .b3-text-field {
        width: 100%;
        margin-left: 0 !important;
        text-align: center;
      }
    }
  }

  .history {
    &__panel {
      flex-direction: column;

      & > .b3-list,
      & > .history__diff {
        height: 40%;
        overflow: auto;
        padding-bottom: 8px;
        width: auto;
      }
    }
  }

  .export-img__space {
    flex: auto;
    height: 8px;
    width: 100%;
  }
}
