@media (max-width: 750px) {
  .config-about__motto {
    display: none;
  }

  .config {
    &__panel {
      & > .config__side {
        width: auto;

        .config__tab-title {
          margin-bottom: 0;
        }

        .b3-list-item__text,
        .config__tab-head .b3-text-field {
          display: none;
        }

        .b3-list-item {
          width: 24px;
        }
      }
    }

    // 该类名目前只有旧的插件设置使用
    &__item {
      flex-wrap: wrap;

      & > .b3-text-field,
      & > .b3-select,
      .b3-slider,
      & > .b3-button,
      & > .b3-tooltips,
      & > .b3-form__icona,
      &-line {
        width: 100%;
        margin-top: 8px;
      }
    }

    &-wrap {
      flex-wrap: wrap;
      align-items: flex-start;

      & > .fn__flex-1 {
        flex: 1 1 100%;
        min-width: 0;
      }

      & > .fn__space {
        display: none;
      }

      & > .b3-text-field,
      & > .b3-select,
      & > .b3-button,
      & > .b3-tooltips,
      & > .b3-form__icona,
      & > .fn__size200,
      .searchByKeyLabel {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin-top: 8px;
      }
    }

    &-wrap--range {
      .config-range__desktop {
        display: none;
      }

      .config-range__mobile {
        display: block;
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin-top: 8px;
      }
    }

    &-item--save-path {
      .config-wrap {
        & > .fn__space {
          display: none;
        }

        & > .b3-select,
        & > .b3-text-field {
          flex: 1 1 100%;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    &-keymap {
      label.b3-list-item {
        flex-wrap: wrap;
      }

      .b3-list-item__action {
        display: flex;
      }

      .config-keymap__key,
      .b3-text-field {
        width: 100%;
        margin-left: 0 !important;
        text-align: center;
      }
    }
  }

  .history {
    &__panel {
      flex-direction: column;

      & > .fn__flex-column {
        min-height: auto;
        border-radius: var(--b3-border-radius-b);
      }

      & > .history__side {
        height: 40%;
        overflow: auto;
        padding-bottom: 8px;
        width: auto !important;
        border-bottom: 1px solid var(--b3-border-color);
      }
    }
  }

  .export-img__space {
    flex: auto;
    height: 8px;
    width: 100%;
  }
}
