[submodule "app/appearance"]
	path = app/appearance
	url = git@github.com:siyuan-note/appearance.git
[submodule "app/guide/20210808180117-czj9bvb"]
	path = app/guide/20210808180117-czj9bvb
	url = git@github.com:siyuan-note/user-guide-zh_CN.git
[submodule "app/guide/20210808180117-6v0mkxr"]
	path = app/guide/20210808180117-6v0mkxr
	url = git@github.com:siyuan-note/user-guide-en_US.git
[submodule "app/guide/20211226090932-5lcq56f"]
	path = app/guide/20211226090932-5lcq56f
	url = git@github.com:siyuan-note/user-guide-zh_CHT.git
