/* 引述 */
.protyle-wysiwyg .bq{
    color: var( --b3-theme-on-background);
    border-left: 0.25em solid var(--b3-theme-on-background);
	border-radius:0 3px 3px 0;
    background-color: var(--b3-bq-background);
}
.protyle-wysiwyg .bq .p{
	padding-left:10px;
}
/*引述callout第一行样式 */
.bq[custom-b~=error] .p:first-child,
.bq[custom-b~=error][data-type="NodeHeading"]:first-child,
.bq[custom-b~=warn] .p:first-child,
.bq[custom-b~=warn][data-type="NodeHeading"]:first-child,
.bq[custom-b~=bug] .p:first-child,
.bq[custom-b~=bug][data-type="NodeHeading"]:first-child,
.bq[custom-b~=check] .p:first-child,
.bq[custom-b~=check][data-type="NodeHeading"]:first-child,
.bq[custom-b~=light] .p:first-child,
.bq[custom-b~=light][data-type="NodeHeading"]:first-child,
.bq[custom-b~=question] .p:first-child,
.bq[custom-b~=question][data-type="NodeHeading"]:first-child,
.bq[custom-b~=wrong] .p:first-child,
.bq[custom-b~=wrong][data-type="NodeHeading"]:first-child,
.bq[custom-b~=info] .p:first-child,
.bq[custom-b~=info][data-type="NodeHeading"]:first-child,
.bq[custom-b~=pen] .p:first-child,
.bq[custom-b~=pen][data-type="NodeHeading"]:first-child,
.bq[custom-b~=note] .p:first-child,
.bq[custom-b~=note][data-type="NodeHeading"]:first-child,
.bq[custom-b~=bell] .p:first-child,
.bq[custom-b~=bell][data-type="NodeHeading"]:first-child {
    font-weight: 700 !important;
    font-size: 1.3em !important;
    padding: 2px 8px 2px 40px;
}

/* 引述callout段落的内边距 */
.bq[custom-b~=error] .p,
.bq[custom-b~=error] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=warn] .p,
.bq[custom-b~=warn] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=bug] .p,
.bq[custom-b~=bug] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=check] .p,
.bq[custom-b~=check] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=light] .p,
.bq[custom-b~=light] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=question] .p,
.bq[custom-b~=question] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=wrong] .p,
.bq[custom-b~=wrong] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=info] .p,
.bq[custom-b~=info] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=pen] .p,
.bq[custom-b~=pen] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=note] .p,
.bq[custom-b~=note] [data-node-id][data-type="NodeHeading"],
.bq[custom-b~=bell] .p,
.bq[custom-b~=bell] [data-node-id][data-type="NodeHeading"] {
    padding-left:40px;
}

/*错误*/
.protyle-wysiwyg [data-node-id][custom-b~=error].bq{
	border:none;
    background-color: var(--b3-bq-background13);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background13) inset;
	left:0.25em;
}

.bq[custom-b~=error]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/prohibited.png);
	background-size: 100% 100%;
}
/*警告*/
.protyle-wysiwyg [data-node-id][custom-b~=warn].bq{
	border:none;
    background-color: var(--b3-bq-background7);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background7) inset;
	left:0.25em;
}

.bq[custom-b~=warn]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/warning.png);
	background-size: 100% 100%;
}
/*bug*/
.protyle-wysiwyg [data-node-id][custom-b~=bug].bq{
	border:none;
    background-color: var(--b3-bq-background11);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background11) inset;
	left:0.25em;
}

.bq[custom-b~=bug]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/bug.png);
	background-size: 100% 100%;
}
/*正确*/
.protyle-wysiwyg [data-node-id][custom-b~=check].bq{
	border:none;
    background-color: var(--b3-bq-background8);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background8) inset;
	left:0.25em;
}

.bq[custom-b~=check]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/check.png);
	background-size: 100% 100%;
}
/*灵感*/
.protyle-wysiwyg [data-node-id][custom-b~=light].bq{
	border:none;
    background-color: var(--b3-bq-background6);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background6) inset;
	left:0.25em;
}

.bq[custom-b~=light]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/light-bulb.png);
	background-size: 100% 100%;
}
/*问题*/
.protyle-wysiwyg [data-node-id][custom-b~=question].bq{
	border:none;
    background-color: var(--b3-bq-background12);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background12) inset;
	left:0.25em;
}

.bq[custom-b~=question]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/question.png);
	background-size: 100% 100%;
}
/*错误*/
.protyle-wysiwyg [data-node-id][custom-b~=wrong].bq{
	border:none;
    background-color: var(--b3-bq-background13);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background13) inset;
	left:0.25em;
}

.bq[custom-b~=wrong]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/cross.png);
	background-size: 100% 100%;
}
/*信息*/
.protyle-wysiwyg [data-node-id][custom-b~=info].bq{
	border:none;
    background-color: var(--b3-bq-background10);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background10) inset;
	left:0.25em;
}

.bq[custom-b~=info]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/info.png);
	background-size: 100% 100%;
}
/*记录*/
.protyle-wysiwyg [data-node-id][custom-b~=pen].bq{
	border:none;
    background-color: var(--b3-bq-background3);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background3) inset;
	left:0.25em;
}

.bq[custom-b~=pen]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/pen.png);
	background-size: 100% 100%;
}
/*汇总*/
.protyle-wysiwyg [data-node-id][custom-b~=note].bq{
	border:none;
    background-color: var(--b3-bq-background1);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background1) inset;
	left:0.25em;
}

.bq[custom-b~=note]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/notebook.png);
	background-size: 100% 100%;
}
/*提醒*/
.protyle-wysiwyg [data-node-id][custom-b~=bell].bq{
	border:none;
    background-color: var(--b3-bq-background5);
	border-radius:5px;
	box-shadow:0 0 0 2px var(--b3-font-background5) inset;
	left:0.25em;
}

.bq[custom-b~=bell]::after {
    content: "";
    position: absolute;
	top: 1.1em;
	margin-left:10px;
	width: 1.5em;
    height: 1.5em;
	background-image: url(callout/bell.png);
	background-size: 100% 100%;
}
