/*————————————————————————列表转导图————————————————————————*/
/*整个导图取消缩进*/
.protyle-wysiwyg *[custom-f="dt"] .li .list{
    padding: 0px;
    margin: 0px;
	transition: all 0.5s;
} 
.protyle-wysiwyg *[custom-f="dt"].list{
	width:100%-50!important;
	overflow-x:auto;/*溢出滚动*/
	padding-bottom:30px!important;
	margin:10px 4px;
}
/*子项设偏移调整*/
.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li>[data-node-id]{
    margin-left: 20px !important;
	margin-right: -24px !important;
}
.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li>.list{
	padding-left: 20px;
}
/*文字设置居中*/
.protyle-wysiwyg *[custom-f="dt"] .li {
	display: flex;
}
.protyle-wysiwyg *[custom-f="dt"] .li .p,.protyle-wysiwyg *[custom-f="dt"] .li [data-type="NodeHeading"] {
	display: flex;
	align-items: center;
	left:6px;
    margin: 0;
	flex-shrink:0;/*不压缩宽度*/
}
.protyle-wysiwyg *[custom-f="dt"] .li [data-type="NodeHeading"]>[spellcheck="false"]:after{
	display:none;
}/*取消标题层级提示*/
.protyle-wysiwyg *[custom-f="dt"] .li div{
	border-right:10px solid transparent;
}
/*文字框*/
.protyle-wysiwyg *[custom-f="dt"] .li div>div[spellcheck="false"]{
	margin-left:-8px;
	padding:5px 0 5px 10px;
	margin-top:2px;
	background-color:var(--b3-block-daotu);
	border-radius:3px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	max-width:15vw;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="t"]>[data-node-id]>div[spellcheck="false"]
{
	padding:5px 0px 5px 35px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="o"]>[data-node-id]>div[spellcheck="false"]
{
	padding:5px 10px 5px 25px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="t"]>.code-block>.protyle-action{
	padding:5px 0px 5px 30px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="t"]>[data-node-id]>div.hljs
{
	padding:30px 0px 22px 30px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="o"]>.code-block>.protyle-action{
	padding:5px 0px 5px 30px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="o"]>[data-node-id]>div.hljs
{
	padding:30px 0px 22px 30px;
}
.protyle-wysiwyg *[custom-f="dt"] .li div>div.hljs{
	padding:30px 10px 22px;
	margin-left: 2px;
	background-color:var(--b3-menu-background);
}
/*去除竖线*/
.list[custom-f="dt"][data-node-id] .li>:before {
    display: none;
}

/*圆点符号居中对齐*/
.protyle-content *[custom-f~=dt] [data-subtype="u"][data-node-id].li>div.protyle-action {
	top:50%;
	margin-left:-18px;
}/*无序列表*/
.protyle-content *[custom-f~=dt] [data-subtype="o"][data-node-id].li>div.protyle-action {
	top:calc(50% + 1px);
	margin-left:17px;
}/*有序列表*/
.list[custom-f="dt"][data-node-id] .li>.protyle-action{
    top:calc(50% + 1px);
	left:3px;
    position: absolute;
    transform: translate(0, -50%);
    z-index: 2;
}
.protyle-wysiwyg *[custom-f="dt"] [data-subtype="u"][data-node-id].li>.protyle-action:after{
	left:37px;
}
.list[custom-f="dt"][data-node-id] .protyle-action svg{
	left:20px;
}

/*前继承线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before{   
    content: '';   
    position: absolute;  
	top: 50%;   
    border-top:var(--b3-border-daotu);    
    width: 20px;  
	height: 50%;     
}
/*上竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before{   
    bottom: 50%;    
    border-left:var(--b3-border-daotu);   
}
/*下竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::after{   
    content: '';   
    position: absolute;  
	bottom: 50%;   
    border-left:var(--b3-border-daotu);  
    width: 20px;  
	height: 50%; 
}
/*单个子项直线*/
.protyle-wysiwyg *[custom-f="dt"] .list>.li:first-child:nth-last-child(2)::after{   
	width: 0px;
}
/*单个子项直线对齐修正*/
.list[custom-f="dt"] .list:has(>.li:first-child:nth-last-child(2))::after{   
	border-radius:0px; 
	width: 39px;
	margin-bottom:-2px;
}
/*单子项居中*/
.protyle-wysiwyg *[custom-f="dt"] .list>.li:first-child:nth-last-child(2){
    top: 50%;
    transform: translate(0, -50%);
}
/*取消多余线条*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::after,.protyle-wysiwyg *[custom-f="dt"]  .li:nth-last-child(2)::before{   
    border:none!important;    
}
/*上框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::before{   
    border-radius:5px 0 0 0 ;    
}  
/*下框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:nth-last-child(2)::after{   
    border-bottom:var(--b3-border-daotu)!important;    
    border-radius:0 0 0 5px;    
}
/*后继承线*/
.list[custom-f="dt"] .list::after{   
    content: '';   
    position: absolute; 
	left: 0; 
	top: 50%;   
    border-top:var(--b3-border-daotu);   
    width: 20px; 
	height: 0;  
}
/*取消根目录线*/
div *[custom-f="dt"]>[data-type="NodeListItem"]::before,
div *[custom-f="dt"]>[data-type="NodeListItem"]::after{   
	display: none;
}
/*根目录最小宽度，保证块标可点*/
div *[custom-f="dt"]>[data-type="NodeListItem"]>[data-type="NodeParagraph"]>[spellcheck="false"]{
	min-width:50px;
}

/*————————————————————————————————————————————————————————————————————————*/