/*————————————————————列表转看板————————————————————*/

.protyle-wysiwyg .list[custom-f~=kb][data-node-id][data-type="NodeList"]
{
    display: flex;
}
.protyle-wysiwyg *[custom-f~=kb].list[data-node-index]{
	width:100%!important;
	overflow-x:auto;/*溢出滚动*/
	padding-bottom:50px;
}
/* ————————————————————所有子项目的表格（除去第一列其余的列），包含溢出的空白部分，所以才会有边框—————————————————————— */
.protyle-wysiwyg *[custom-f~=kb] .li .list{
    min-width: var(--kbline-boarditem-minwidth);
    border-radius: 3px;
    transform: translate(-30px, 0);
}


/* ————————————————————对所有子列表项设置格式———————————————————— */

.protyle-wysiwyg *[custom-f~=kb] .li .li{
    border-radius: 3px;
    padding: 0.4em 0 0.1em 0 ;
    margin-bottom: 6px; 
	background-color:var(--kb--li--background);
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

/*只处理每个列表的第一行*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div > div:nth-child(2),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div > div:nth-child(2)
{
	min-width: var(--kbline-boarditem-minwidth);
    border-radius: 3px;
	padding:9px 0px 11px 30px;
	left:-30px;
    margin-bottom: 10px;
}
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div > div:nth-child(2)[data-type="NodeHeading"],
.protyle-wysiwyg .sb>*[custom-f~=kb] > div > div:nth-child(2)[data-type="NodeHeading"]
{

	padding:5px 0px 7px 30px;
}
.protyle-wysiwyg *[custom-f~=kb] .li [data-type="NodeHeading"]>[spellcheck="false"]:after{
	display:none;
}/*取消标题层级提示*/

/*标题行循环颜色*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div:nth-child(4n-3) > div:nth-child(2),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div:nth-child(4n-3) > div:nth-child(2){
    background-color:var(--b3-card-error-background);
}
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div:nth-child(4n-2) > div:nth-child(2),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div:nth-child(4n-2) > div:nth-child(2){
    background-color:var(--b3-card-warning-background);
}
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div:nth-child(4n-1) > div:nth-child(2),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div:nth-child(4n-1) > div:nth-child(2){
    background-color:var(--b3-card-info-background);
}
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div:nth-child(4n) > div:nth-child(2),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div:nth-child(4n) > div:nth-child(2){
    background-color:var(--b3-card-success-background);
}

/*只处理每个列表第一行的点*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index] > div > div:nth-child(1),
.protyle-wysiwyg .sb>*[custom-f~=kb] > div > div:nth-child(1)
{
    transform: translate(4px,5px);
	z-index:2;
}

/* ————————————————————去除小竖线———————————————————— */
.list[custom-f="kb"][data-node-id] .li>:before {
    display: none;
}

/* 对除了第一层之外的子列表 .protyle-action 移动 */
.protyle-wysiwyg *[custom-f~=kb] .li .list .protyle-action{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 3px;
}

/* 引用计数 */
.list[custom-f="kb"] .protyle-attr--refcount{
	height: 14px;
    width: 14px;
	left:-44px;
	top:9px;
    padding: 0;
    line-height: 14px;
	text-align: center;
}

.list[custom-f="kb"] .list .protyle-attr--refcount{
	height: 14px;
    width: 14px;
	left:-14px;
	top:9px;
    padding: 0;
    line-height: 14px;
	text-align: center;
}

/*————————————————————列表转化看板 END————————————————————*/