@keyframes menu {
	0% {opacity: 0;}
	50% { transform: scale(1.01);
          opacity: 0.5;	}
	100% { transform: scale(1); 
	 }
}
@keyframes statusmsg {
	0% {max-width:1000px;}
	80% {max-width:1000px;}
	100% {max-width:180px;}
}
:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;/* 编辑区背景 */
    --b3-theme-background-light: #dfe0e1;
    --b3-theme-surface: rgb(247, 246, 243);/* 面板主色 */
    --b3-theme-surface-light: rgba(243, 243, 243, .5);
    --b3-theme-error: #eb5757;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: rgba(55, 53, 47, 0.6);
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family:apple-system, BlinkMacSystemFont, "Segoe UI", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,  "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.1);

    /* 滚动条 */
    --b3-scroll-color: rgba(211,209,203,.5);
	--b3-scroll-color-hover: rgba(174,172,166);
	--b3-scroll-bgcolor: rgba(237, 236, 233);
	
	--b3-border-scroll: rgba(55, 53, 47, 0.2);
	
	--webkit-scrollbar: 10px;
	--webkit-scrollbar-thumb: 0px;
    /* 列表 */
    --b3-list-hover: rgba(55, 53, 47, 0.08);

    /* 菜单 */
    --b3-menu-background: #f8f9fa;

    /* 提示 */
    --b3-tooltips-color: rgba(15, 15, 15);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
	--b3-font-color1: #000;
    --b3-font-color2: rgba(55, 53, 47, 0.6);
    --b3-font-color3: rgb(100, 71, 58);
	--b3-font-color4: rgb(217, 115, 13);
    --b3-font-color5: #f5822e;
	--b3-font-color6: rgb(223, 171, 1);
    --b3-font-color7: #65b84d;
	--b3-font-color8: rgb(15, 123, 108);
    --b3-font-color9: rgb(11, 110, 153);
    --b3-font-color10: rgb(105, 64, 165);
    --b3-font-color11: rgb(173, 26, 114);
    --b3-font-color12: rgb(224, 62, 62);
    --b3-font-color13: #e81123;
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	
	/* 自定义结构配色 */
	/* 顶栏 */
	--b3-toolbar-background: var(--b3-theme-background);
	--b3-toolbar-item-hover: rgba(0, 0, 0, .05);
	--b3-toolbar-closeWindow-hover: #e81123;
	--b3-toolbar-closeWindow-svg: #fff;
	/* dock栏 */
	--b3-dockright-color: rgb(55, 53, 47, .5);
	--b3-dockright-background: rgba(237, 236, 233);
	--b3-dockleft-color: rgb(55, 53, 47, .5);
	--b3-dock-background: rgba(237, 236, 233);
	--b3-dockright-item-active-background: #fff;
	--b3-dockleft-item-active-background: #fff;
	--b3-dock-item-active-color: #eb8383;
	--b3-dock-item-hover-background: #fff;
	
	--b3-dock-item-width: 36px;
	--b3-dock-item-padding: 5px;
	--b3-dock-item-margin: 7px 5px 7px 5px;
	--b3-dock-item-radius: 5px;
	/* 侧栏面板 */
	--b3-fn__flex-column-background: rgb(247, 246, 243);
	--b3-fn__flex-shrink-background: rgb(247, 246, 243);
	--b3-block-logo-color: rgb(247, 246, 243);
	--b3-block-logo-background-color: rgba(55, 53, 47, 0.3);
	--b3-block-icon-svg-color: rgba(161, 160, 156);
	--b3-block-icon-hover: rgba(55, 53, 47, 0.08);
	--b3-block-icon-active: #eb8383;
	--b3-list-item-arrow: rgba(55, 53, 47, 0.4);
	--b3-list-background: rgba(55, 53, 47, 0.08);
	--b3-list-background-focus: rgba(55, 53, 47, 0.14);
	--b3-list-background-more: rgba(108, 106, 101);
	
	--b3-flex-column-padding: 6px 0 0 0;
	--b3-list-item-radius: 0px;
	/* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
	/* 线条 */
	--b3-layout-resize: rgba(230, 229, 225);
	--b3-shrink-layout-resize: rgba(230, 229, 225);
	--b3-layout-resize-hover: var(--b3-scroll-color);
	--flex-width-transition:width 150ms linear; /*调节宽度动画*/
	--b3-border-fold: rgb(15, 15 , 15, .1);/*折叠边框*/
	/* 页签 */
	--b3-item-focus: rgb(0, 0, 0 ,1);
	/* 面包屑 */
	--b3-protyle-breadcrumb-shadow:var(--b3-layout-resize);
	--b3-protyle-breadcrumb-arrow: rgba(174,172,166);
	--b3-breadcrumb-svg: rgba(55, 53, 47, 0.8);
	/* 头图按钮 */
	--b3-icons-tooltips: rgba(55, 53, 47, 0.5);
	--b3-icons-tooltips-hover: var(--b3-list-background);
	--b3-img-icons-tooltips: var(--b3-theme-on-surface);
	--b3-img-icons-tooltips-bg: var(--b3-theme-background);
	--b3-img-icons-span: rgba(0, 0, 0, .5);
	/* 块标 */
	--b3-gutters-color: rgba(211,209,203);
	/* 弹出工具条字体颜色选择 */
	--b3-color--square: var(--b3-border-color);
	/* 任务列表 */
	--b3-task-done-color: var(--b3-scroll-color-hover);
	--b3-task-done-hover: #069ccd;
	/* 引述 */
	--b3-bq-background: rgba(249, 249, 250);
	/* 块引用 */
	--b3-block-ref-background: var(--b3-toolbar-item-hover);
	/* 代码块 */
	--b3-linenumber-rows: rgba(237, 236, 233);
	--b3-code-block-hljs: var(--b3-fn__flex-shrink-background);						  
	/*行内代码*/
	--b3-inline-code:var(--b3-theme-error);
	/*按钮*/
	--b3-button: #069ccd;
	/*pdf*/
	--b3-toolbarSidebar: rgba(237, 236, 233); 
	/*导图*/
	--b3-border-daotu: 2px solid #ffb8b8;
	--b3-block-daotu:#FFF;
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:#fff;
	/*ctrlp*/
	--b3-list-item--meta: rgba(55, 53, 47, 0.3);
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}

body{
	border: 0px!important;
}

/* ————————————————————顶栏———————————————————— */
.toolbar{
	background-color: var(--b3-toolbar-background);
	margin-bottom: -22px;
	z-index: 99;
	opacity: 0;
	transition: opacity 300ms;
	transition-delay: 500ms;
}
.toolbar:hover{
	opacity: 1;
	transition: all 300ms;
}
.toolbar__item{
	margin: 0px;
	border-radius: 0px;
}
.toolbar__item svg{
	padding: 3px 7px;
	height: 12px;
	width: 12px;	
}
.toolbar__item:not(.toolbar__item--disabled) svg{
	color: var(--b3-theme-on-background);
}
.toolbar__item:hover{
	background-color: var(--b3-toolbar-item-hover);
}
#minWindow svg, #restoreWindow svg, #maxWindow svg, #closeWindow svg{
	width: 10px!important;
	padding: 2px 8px;
}
.toolbar__item--close{
	padding: 4px 8px;
}
#closeWindow:hover{
	background-color: var(--b3-toolbar-closeWindow-hover);
}
#closeWindow:hover svg{
	color: var(--b3-toolbar-closeWindow-svg);
}

/* ————————————————————dock栏———————————————————— */
.dock{
	background-color: var(--b3-dock-background);
}
.dock#dockLeft,
.dock#dockRight{
	border: 0px;
	width: var(--b3-dock-item-width);
}
.dock#dockLeft .dock__item{
	padding: var(--b3-dock-item-padding);
	margin: var(--b3-dock-item-margin);
	border-radius: var(--b3-dock-item-radius);
	color: var(--b3-dockleft-color);
}
.dock#dockRight .dock__item{
	padding: var(--b3-dock-item-padding);
	margin: var(--b3-dock-item-margin);
	border-radius: var(--b3-dock-item-radius);
	color: var(--b3-dockright-color);
}
.dock#dockLeft .dock__item--active{
	color: var(--b3-dock-item-active-color)!important;
	background-color: var(--b3-dockleft-item-active-background);
}
.dock#dockRight{
	background-color: var(--b3-dockright-background);
}
.dock#dockRight .dock__item--active{
	color: var(--b3-dock-item-active-color)!important;
	background-color:var(--b3-dockright-item-active-background);
}
.dock#dockLeft .dock__item:last-child,.dock#dockRight .dock__item:last-child{
	margin: 7px 5px 20px 5px;
}
.dock__item svg{
	width: 14px;
}
.dock#dockLeft .dock__item:hover,
.dock#dockRight .dock__item:hover{
	background-color: var(--b3-dock-item-hover-background);
	transition: all 300ms;
}

/* ————————————————————侧栏面板———————————————————— */
.layout-tab-container>.fn__flex-column{
	background-color: var(--b3-fn__flex-column-background);
	padding: var(--b3-flex-column-padding);
	min-height: 90% ;
}
/*侧栏滚动出现分割线*/
.layout-tab-container>.fn__flex-column>.fn__flex-1{
	background: linear-gradient(var(--b3-fn__flex-column-background), transparent 100%),
				linear-gradient(var(--b3-border-scroll), transparent 100%);
    background-size: 100% 30px, 100% 1px;
    background-repeat: no-repeat;
    background-attachment: local, scroll;
}
.fn__flex >.fn__flex-shrink>.fn__flex>.fn__flex>.layout-tab-container>.fn__flex-column{
	background-color: var(--b3-fn__flex-shrink-background);
}
/*面板标题*/
.file-tree .block__icons{
	height:46px; 
    padding: 0px 15px;
}
/*面板标题图标*/
.block__logo svg{
	width: 12px;
	height: 12px;
	padding: 6px;
	margin: 0px 10px 0px 0px;
	border-radius: 5px;
	color: var(--b3-block-logo-color);
	background-color: var(--b3-block-logo-background-color);
}
/*面板功能*/
.file-tree .block__icons>.block__icon svg,
.file-tree .block__icons>.fn__flex>.block__icon svg{
	padding: 5px;
	height: 12px;
    width: 12px;
	color: var(--b3-block-icon-svg-color);
}
.file-tree .block__icons>.block__icon,.file-tree .block__icons>.fn__flex>.block__icon{
	margin:-4px;
	padding: 0px;
}
.file-tree .block__icons>.fn__flex>.block__icon[type="checkbox"]{
	margin:0px 0px 0px -8px;
}
.file-tree .block__icons .block__icon:hover{
	background-color: var(--b3-block-icon-hover);
	border-radius: 3px;
}
/*面板标题激活状态*/
.block__icons.block__icons--active>.block__logo svg{
	background-color: var(--b3-block-icon-active);
}

.block__icons.block__icons--active>.block__logo,
.block__icons.block__icons--active>.block__icon svg,
.block__icons.block__icons--active>.fn__flex>.block__icon svg{
	color: var(--b3-block-icon-active);
}
.block__icons--active{
	background-color: transparent;
}
/*面板列表项*/
.b3-list-item{
	border-radius:var(--b3-list-item-radius);
}
.b3-list-item__arrow{
	color:var(--b3-list-item-arrow);
	padding:5px;
    margin:0 -5px 0 5px;
    border-radius: 3px;
}
.b3-list-item__icon{
	height: 22px;
	width: 16px;
	font-size:14px;
	line-height:22px;
}
.b3-list-item__icon svg,.b3-list-item__icon img{
	margin: 0px;
	padding: 3px 0px 2px 0px;
	border-radius: 3px;
}
.b3-list-item__graphic{
	padding: 3px 4px;
    border-radius: 3px;
}
.b3-list-item__toggle.fn__hidden:before {
	visibility: visible!important;
    content: "•";  
	margin:0px -18px 0 12px;
    color:var(--b3-list-item-arrow);
	font-size: 100%;
}
.b3-list-item__text{
	color:var(--b3-theme-on-surface);
}
.b3-list-item--hide-action .b3-list-item__action {
    height:20px;
	padding: 0 3px;
	margin-left:4px;
	border-radius: 3px;
	color:var(--b3-list-background-more);
}
/*新建文档*/
.b3-list-item__action[data-type='new']{
	box-shadow: 0px 0px 0px 1px var(--b3-border-color) inset;
}
/*引用数*/
.b3-list-item .counter:not(:empty){
	height: 20px;
	line-height: 20px;
	text-align: center;
	min-width: 12px;
	border-radius: 3px;
	padding: 0 4px;
	margin-left: 4px;
	box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}
/*面板列表项hover状态*/
.b3-list-item:hover,.b3-list-item__arrow:hover,
.b3-list-item__action:hover,.counter:not(:empty):hover,.b3-list-item__icon:hover{
    background-color: var(--b3-list-background)!important ;
}
.b3-list-item--focus:hover{
    background-color: var(--b3-list-background-focus)!important ;
}
.b3-list-item__toggle:hover{
	background-color: rgba(0, 0, 0, 0)!important;
}

/* 面板列表项 选中状态*/
.b3-list-item--focus .b3-list-item__text{   
	font-weight:600;
	color:var(--b3-theme-on-background)!important;
}
/*标签树*/
.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__tag ul ul li>.b3-list-item__graphic{
	display:none;
}
.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__text:before,
.sy__tag ul ul li>.b3-list-item__text:before{
	visibility: visible!important;
    content: "# ";  
    color:var(--b3-list-item-arrow);
	padding-left:0px;
}
/*收集箱面板*/
.sy__inbox .inbox__details{
	top: 50px;
}
input[type="checkbox" i] {
	margin-left:6px;
}
/*大纲面板*/
.sy__outline>.b3-list-item>.b3-list-item__graphic{
	padding-left: 10px;
}
/*大纲前圆点*/
.sy__outline .b3-list-item__arrow.fn__hidden{
	visibility: visible!important;
	opacity: 0.6;
	width: 0.2em;
	height: 0.2em;
	color: transparent;
	background-color:var(--b3-list-item-arrow);
	border-radius: 50%;
	padding: 0px;
	margin: 0 4px 0 14px;
}
.sy__outline .b3-list-item__arrow.fn__hidden:hover{
	background-color: var(--b3-list-item-arrow)!important ;
}
/*大纲数字*/
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__toggle::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__toggle::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__toggle::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__toggle::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__toggle::after{
	font-weight: 600;
	position:relative;
	left:10px;
	border-radius:3px;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__toggle::after{
	font-weight: 600;
	position:relative;
	left:9px;
	border-radius:3px;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic{
	margin-left:-10px;
	margin-right:4px;
    color:transparent;
	z-index:2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__toggle::after{
	content:"1";
	color:var(--h1-list-graphic);
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__toggle::after{
	content:"2";
	color:var(--h2-list-graphic);
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__toggle::after{
	content:"3";
	color:var(--h3-list-graphic);
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__toggle::after{
	content:"4";
	color:var(--h4-list-graphic);
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__toggle::after{
	content:"5";
	color:var(--h5-list-graphic);
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__toggle::after{
	content:"6";
	color:var(--h6-list-graphic);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic:hover{
	background-color:var(--h1-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic:hover{
	background-color:var(--h2-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic:hover{
	background-color:var(--h3-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic:hover{
	background-color:var(--h4-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic:hover{
	background-color:var(--h5-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic:hover{
	background-color:var(--h6-list-graphic);
	opacity:0.2;
}
/*分界线*/
.layout__resize:after{
	background-color: var(--b3-layout-resize);
}
.fn__flex-shrink .layout__resize:after{
	background-color: var(--b3-shrink-layout-resize);
}
.fn__flex-shrink+.layout__resize--lr:after{
	background-color:transparent;
	width:2px;
	margin-left:-2px;
}
.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	width:2px;
}
.layout__resize:hover:after,.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	background-color:var(--b3-layout-resize-hover);
	transition: background-color 300ms ease-in 0s;
}
.layout__resize--lr:after{
	background-color: var(--b3-layout-resize);
	width:0px;
	margin-left:-1px;
	top: 0px;
	height:100%;
}
/*侧栏宽度调整动画*/
#layouts > .fn__flex-1 > .fn__flex-column,#layouts > .fn__flex-1 > .fn__flex{
    transition: var(--flex-width-transition);
}

/* ————————————————————页签———————————————————— */
.layout-tab-bar{
	padding:0 8px;
	background-color: var(--b3-theme-background);
}
.layout-tab-bar .item{
	flex:unset;
	padding-left:6px;
	margin:15px 0px 7px 0px;
	max-width:150px;
	border-radius: 3px!important;
}
.layout-tab-bar .item__icon{
	padding: 4px 2px;
}
.layout-tab-bar .item__icon svg{
	height: 16px;
}
.layout-tab-bar .item:not(:last-child){
	box-shadow:none!important;
}
.layout__wnd--active .layout-tab-bar .item--focus{
	position: relative;
	box-shadow: none!important;
}
.layout__wnd--active .layout-tab-bar .item--focus::after{
	content: '';
	position: absolute;
	bottom: -7px;
	left: 0px;
	right: 0px;
	height: 2px;
	background-color: var(--b3-item-focus);
}
.layout-tab-bar .item:hover{
	background-color:var(--b3-list-background)!important;
}
.layout-tab-bar .item__text{
    padding: 3px; 
	text-align: left;
	min-width: 1px;
}
.layout-tab-bar .item__close{
	padding: 4px 6px 4px 2px;
}
.layout-tab-bar .item--pin{
	margin-right:8px;
	padding:0 2px 0 4px;
	width:24px;
}
.layout-tab-bar .item--pin .item__icon{
	padding: 4px 0px;
}
.layout-tab-bar .item--pin:nth-child(4n-3){
	background-color:var(--b3-card-error-background);
}
.layout-tab-bar .item--pin:nth-child(4n-2){
	background-color:var(--b3-card-warning-background);
}
.layout-tab-bar .item--pin:nth-child(4n-1){
	background-color:var(--b3-card-info-background);
}
.layout-tab-bar .item--pin:nth-child(4n){
	background-color:var(--b3-card-success-background);
}
.layout-tab-bar .item__graphic{
	padding: 4px 4px 4px 0px;
}
/* ————————————————————面包屑———————————————————— */
.protyle-breadcrumb{
	padding: 6px 8px 4px 8px;
	box-shadow: 0px 1px 0px 0px var(--b3-protyle-breadcrumb-shadow) inset;
}
.protyle-breadcrumb__item--active,.protyle-breadcrumb__item--active>svg,
.protyle-breadcrumb__item--active>svg.ft__primary+span{
	color: var(--b3-theme-primary)!important;
	background-color: transparent;
}
.protyle-breadcrumb__item,.protyle-breadcrumb__icon{
    padding: 5px;
	margin: 0px;
}
.protyle-breadcrumb__text{
	margin-left: 6px;
}
.protyle-breadcrumb__arrow{
	width: 0px;
	height: 13px;
	transform: rotate(20deg);
	border-left: 1px solid var(--b3-protyle-breadcrumb-arrow);
}
.protyle-breadcrumb>.block__icon:not(.ft__primary):hover,
.protyle-breadcrumb__icon:hover,.protyle-breadcrumb__item:hover,
.protyle-breadcrumb>.b3-tooltips__w:hover{
	background-color: var(--b3-list-background);
	border-radius: 3px;
}
/*面包屑更多*/
.protyle-breadcrumb>.block__icon:not(.ft__primary) svg{
	color: var(--b3-breadcrumb-svg)!important;
	width: 19px;
	height: 19px;
	padding: 3px 1px;
}
.protyle-breadcrumb>.b3-tooltips__w{
	padding: 0 4px;
}

/* ————————————————————编辑区———————————————————— */
/*头图、图标、标签*/
.protyle-background{
	border-bottom:10px solid transparent !important
}
.protyle-background[style*="30vh"]>.protyle-background__iconw >.protyle-icons,
.protyle-background[style*="64px"]>.protyle-background__iconw >.protyle-icons,
.protyle-background[style*="56px"]>.protyle-background__iconw >.protyle-icons,
.protyle-background[style*="103px"]>.protyle-background__iconw >.protyle-icons{
	background-color:transparent;
	position:absolute;
	left:0px;
	margin:0px;
	opacity:0;
}
.protyle-background[style*="30vh"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips,
.protyle-background[style*="64px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips,
.protyle-background[style*="56px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips,
.protyle-background[style*="103px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips{
	margin-top:80px;
}
.protyle-background[style*="30vh"]>.protyle-background__iconw >.fn__none+.protyle-icons>.b3-tooltips{
	margin-top:0px;
}/*没图标的情况下浮动*/
		
.protyle-background__iconw {
	height:auto;
	width:256px;
	margin-left:5px;
}
.protyle-background__iconw .protyle-icons .b3-tooltips{
	display:inline-flex;
	height:28px;
	border-radius:3px;
	padding:0 8px 0 6px;
	color:var(--b3-icons-tooltips);
	background-color:transparent;
}
.protyle-background__iconw .protyle-icons{
	background-color:transparent;
	margin:72px 0 0 0px;
	height:1px;
	opacity:0
}
.protyle-background__iconw .protyle-icons .b3-tooltips svg{
	width:14px;
	height:14px;
	padding:7px 6px 0 0;
	display:inline-flex
}
.protyle-background__iconw .protyle-icons .b3-tooltips::after{
	display:inline-flex;
	height:28px;
	font-size:12px;
	line-height:28px;
	transform:none;
	opacity:1;
	color:var(--b3-icons-tooltips);
	background-color:transparent;
	position:static;
	margin:0;
	padding:0
}
.protyle-background .protyle-icons .b3-tooltips input{
	width:100% !important;
}/*上传按钮*/
.protyle-background__iconw .protyle-icons .b3-tooltips:hover{
	background-color:var(--b3-icons-tooltips-hover);
}
.protyle-background .protyle-background__icon{
	width:78px;
	height:78px;
	font-size:54px;
	top:calc(30vh - 42px);
	line-height:78px;
	text-align:center;
	border-radius:4px
	}
.protyle-background .protyle-background__icon svg{
	width:78px;
	height:78px
}
.protyle-background .protyle-background__icon:hover{
	background-color:var(--b3-icons-tooltips-hover);
	opacity:1;
}
.protyle-background:hover >.protyle-background__iconw >.protyle-icons{
	opacity:1
}
.protyle-background .protyle-icons  .b3-tooltips::before{
	border:none
}/*取消箭头*/

/*头图选项*/
.protyle-background__img .protyle-icons{
	background-color:transparent;
	left: auto;
	right:max(calc((100% - min(1920px, max(1500px, 46.9vw))) / 2), 103px);
	opacity:0;
	border-radius:3px;
}
.protyle-background__img .protyle-icons .b3-tooltips{
	display:inline-flex;
	height:28px;
	padding:0 10px 0 6px;
	color:var(--b3-img-icons-tooltips);
}
.protyle-background__img .protyle-icons .b3-tooltips svg{
	width:12px;
	height:12px;
	padding:8px 6px 0 2px;
	display:inline-flex
}
.protyle-background__img .protyle-icons .b3-tooltips::after{
	display:inline-flex;
	height:28px;
	font-size:12px;
	line-height:28px;
	transform:none;
	transition:none;
	opacity:1;
	color:var(--b3-img-icons-tooltips);
	background-color:transparent;
	position:static;
	margin:0;
	padding:0;
}

.protyle-background__img .protyle-icons>span{
	color:var(--b3-img-icons-tooltips);
	background-color:var(--b3-img-icons-tooltips-bg);
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;

}
.protyle-background__img .protyle-icons .b3-tooltips:hover,.protyle-background__img.protyle-icons>span:hover{
	background-color:var(--b3-fn__flex-shrink-background);
	color:var(--b3-img-icons-tooltips);
}

.protyle-background__img .protyle-icons>span:not(span[data-type='cancel']):not(span[data-type='confirm']):not(span[data-type='link']):not(span[data-type='random']):not(span[data-type='position']):not(span[data-type='remove']):not(span[style*="relative"])
{
	background-color: var(--b3-img-icons-span);
	color:var(--b3-theme-background);
	padding:5px 20px;
}/*上下移动题图提示语*/

.protyle-background .protyle-background__img:hover .protyle-icons{opacity:1;}
/*选项块透明度*/


/*文档标签*/
.protyle-icons{
	z-index:2;
}
.protyle-background__tags{
	right:76px;
}
.protyle-background[style*="30vh"]>.protyle-background__tags{
	float:right;
	padding-top:30.5vh;
}
.protyle-background[style*="103px"]>.protyle-background__tags,.protyle-background[style*="47px"]>.protyle-background__tags{
	float:right;
}
.protyle-background__tags .item{
	margin: 11px 10px 4px 0;
	border-radius:5px;
	padding:2px 8px;
	font-size:90%;
	transition: all 200ms;
}
.protyle-background__tags .item:hover{
	padding:2px 22px 2px 8px;
	transition:padding 200ms ease-in 0s;
}
.protyle-background__tags .item svg{
	top: 4px;
    right: 4px;
	background-color:transparent;
}
.protyle-background__tags .item svg:hover{
	background-color:var(--b3-list-background-focus);
}
/*文档标题块*/
.protyle-title__input{
	font-weight:700;
	font-size: 40px;
}
/*h1~6标题间距*/
.protyle-wysiwyg .h1,.protyle-wysiwyg .h2,
.protyle-wysiwyg .h3,.protyle-wysiwyg .h4,
.protyle-wysiwyg .h5,.protyle-wysiwyg .h6{
	font-weight:700;
	margin-top: 1.2em;
    margin-bottom: .4em;
}
.protyle-wysiwyg[data-doc-type="NodeDocument"]>[data-type="NodeHeading"]{
	margin-top: 0em;
}
/*块标 */
.protyle-gutters button svg {
    color: var(--b3-gutters-color);
	padding:0 4px;
	border-radius:3px;
}
.protyle-gutters button[data-type="fold"] svg {
	padding:0px 6px;
}
.protyle-gutters button svg:hover {
	background-color: var(--b3-toolbar-item-hover);
}
.protyle-gutters button{
	padding:4px 0px;
}
.protyle-gutters{
	transition: all 200ms ease-out;
}
/*块右上角引用数*/
.protyle-attr--refcount{
	height: 20px;
    width: 20px;
	left:1px;
    padding: 0;
    line-height: 20px;
	text-align: center;
}
/* 超级块 */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div,
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"]>div{
	margin-bottom: 5px;
	border-radius: 3px;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col]>div:not(:nth-last-child(2)),
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col] .sb:not(:nth-last-child(2)){
	margin-right:5px;
}

/* 图片圆角 */
.protyle-wysiwyg img{
	border-radius: 3px;
}
/* 文字弹出工具条 */
.protyle-toolbar{
    border-radius: 3px;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	animation: toolbar 0.2s ease-in-out;
	
}
.protyle-toolbar__item svg{
	color: var(--b3-list-background-more);
}

.protyle-toolbar__item {
	height:30px;
    width:30px;
}

.protyle-toolbar__item[data-type='blockRef']{
	padding-right:3px;
	width:31px;
}
.protyle-toolbar__item[data-type='font']{
	width:44px
}
.protyle-toolbar__item[data-type='font'] svg{
margin-left:-10px;
width:36px;
}
.protyle-toolbar__item:hover {
	background-color: var(--b3-toolbar-item-hover);
}
.protyle-toolbar__divider{
	margin:0px;
}
.protyle-util{
animation: menu 0.2s ease-in-out;
box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.protyle-util{
	background-color: var(--b3-theme-background);
}
/* 弹出工具条字体颜色选择 */
.b3-color__square[data-type="color"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;
	 background-color:transparent!important;
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.b3-color__square[style="background-color:var(--b3-font-color1)"]::before{
	 content: "A";
	 color:var(--b3-font-color1);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color2)"]::before{
	 content: "A";
	 color:var(--b3-font-color2);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color3)"]::before{
	 content: "A";
	 color:var(--b3-font-color3);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color4)"]::before{
	 content: "A";
	 color:var(--b3-font-color4);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color5)"]::before{
	 content: "A";
	 color:var(--b3-font-color5);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color6)"]::before{
	 content: "A";
	 color:var(--b3-font-color6);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color7)"]::before{
	 content: "A";
	 color:var(--b3-font-color7);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color8)"]::before{
	 content: "A";
	 color:var(--b3-font-color8);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color9)"]::before{
	 content: "A";
	 color:var(--b3-font-color9);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color10)"]::before{
	 content: "A";
	 color:var(--b3-font-color10);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color11)"]::before{
	 content: "A";
	 color:var(--b3-font-color11);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color12)"]::before{
	 content: "A";
	 color:var(--b3-font-color12);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[style="background-color:var(--b3-font-color13)"]::before{
	 content: "A";
	 color:var(--b3-font-color13);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square[data-type="backgroundColor"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;															   
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.b3-color__square[data-type="backgroundColor"]::before{
	 content: "A";
	 color:var(--b3-theme-on-background);
	 margin-top:-2px;
	 font-weight: 500;
	 font-size:1.3em;
}
.b3-color__square:hover{
	box-shadow: 0 0 0 1px var(--b3-theme-on-background) inset;
}
/* 无序列表 */
.protyle-wysiwyg [data-node-id].li>.protyle-action{
	color: var(--b3-theme-on-background);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after, .protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after{
    background-color: var(--b3-border-color)!important;
}
/* 有序列表 */
.protyle-wysiwyg [data-node-id].li[data-subtype="o"]>.protyle-action--order:after{
	 padding:4px;
	 margin:-20px 0 0 -12px;
	 height:32px;
}
.protyle-wysiwyg div[fold="1"].li[data-subtype="o"]>.protyle-action--order:after{
	 background: url("img/square.svg") no-repeat center!important;
	 transition:none;
}
.protyle-wysiwyg [data-node-id].li[data-subtype="o"]>.protyle-action--order:hover:after{
	 background: url("img/square.svg") no-repeat center!important;
	 transition:none;
}
/* 任务列表 */
.protyle-task--done{
    color: var(--b3-task-done-color);
    text-decoration: line-through;
}
.protyle-task--done svg{
    color: var(--b3-theme-primary) !important;
}
.protyle-task--done:hover svg{
    color: var(--b3-task-done-hover) !important;
}
.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after{
	display:none;
}
/* 引述 */
.protyle-wysiwyg .bq{
    padding: 0.3em 1em;
    color: var( --b3-theme-on-background);
    border-left: 0.25em solid var(--b3-theme-on-background);
	border-radius:0 3px 3px 0;
	margin-left:4px;
    background-color: var(--b3-bq-background);
}
/* 表格 */
.b3-typography table, .protyle-wysiwyg table{
	font-weight:500;
	border-radius:3px;
	border:1px solid var(--b3-border-color);
}
.b3-typography colgroup, .protyle-wysiwyg colgroup{
	border-style:hidden;
}
.protyle-wysiwyg table tbody tr{
	background-color:var(--b3-theme-background);
}
/* 自定义表格宽度 */
.protyle-wysiwyg div.table[data-node-id]{
    width: calc(100% - 8px);
}
.protyle-wysiwyg div.table[data-node-id] table {
    width: auto;
}
.protyle-wysiwyg [data-node-id][custom-f~=auto] table {
    width: auto !important;
    white-space: nowrap;
}
/* 表头和表行格式一致 */
.protyle-wysiwyg [data-node-id][custom-t~=biaotou] table th {
    font-weight: normal !important;
    text-align: left !important;
    color: inherit !important;
    background-color: var(--b3-theme-background) !important;
}
/* 标签 */
.protyle-wysiwyg span[data-type="tag"] {
	font-size: 90%;
	border-radius: 3px;
	padding:0px 6px 2px 6px;
	color: var( --b3-theme-on-background)!important;
	border-bottom:none !important; 
	background-color:var(--b3-font-background7);
}
/*###############自定义标签颜色#######################*/
.protyle-wysiwyg span[data-content="重要"]/*自定义标签内容*/{ 
	background-color:var(--b3-font-background13);/*自定义标签颜色*/
}

.protyle-wysiwyg span[data-content="TODO"]{ 
	background-color:var(--b3-font-background8);
}

.protyle-wysiwyg span[data-content="注意"]{ 
	background-color:var(--b3-font-background7);
}
/*块引用*/
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]{
	font-size: 95%;
	padding:0px 5px 1px 5px;
	color:var(--b3-theme-on-background)!important;
	background-color:var(--b3-block-ref-background);
	border-bottom: 1px dashed var(--b3-theme-on-surface);
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover{
	background-color:var(--b3-list-background-focus);
}
/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type="a"]{
    padding: 0 2px;
	color: var(--b3-theme-on-surface);
	border-bottom:1px solid var(--b3-border-color);
}
.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover{
	color: var(--b3-theme-on-background);
	border-bottom:1px solid var(--b3-theme-on-background);
}
/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]{
    color: var( --b3-theme-on-background);
    border-left: 1px dashed var(--b3-theme-on-surface);
    background-color: var(--b3-theme-surface-light);
	border-radius:0 5px 5px 0;
}
/* 命名，别名，备注*/
.protyle-attr--name,.protyle-attr--alias,.protyle-attr--memo{
	color: var(--b3-font-color3);
	font-size:90%;
	padding:0 3px;
	width:auto;
}
/*代码块*/
.code-block {
	margin-left:4px!important;
}
.b3-typography .hljs, .protyle-wysiwyg .hljs{
	background-color:var(--b3-code-block-hljs)!important;
	padding: 30px 10px 22px 10px;
}
.protyle-wysiwyg[contenteditable="true"] .code-block .protyle-action{
	padding:6px 3px;
}
.code-block .protyle-action .protyle-action__language{
	height:14px;
	line-height:12px;
	border-radius:3px;
	padding:4px 4px;
}
.code-block .protyle-action .protyle-action__language:hover{
	background-color:var(--b3-list-background);	
}
.code-block .protyle-action .protyle-action__copy,.code-block .protyle-action .protyle-action__menu{
	margin-top:-3px;
	color:var(--b3-icons-tooltips);
	background-color:var(--b3-list-background);
}
.code-block .protyle-action .protyle-action__copy:hover,
.code-block .protyle-action .protyle-action__menu:hover{
	background-color:var(--b3-list-background-focus);
}
.protyle-linenumber__rows{
	background-color: var(--b3-linenumber-rows);
	padding: 30px 4px 22px 4px;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block{
	height: 2.2em;
}
/*行内代码*/
.b3-typography code:not(.hljs), .protyle-wysiwyg code:not(.hljs){
	color:var(--b3-inline-code);
}
/*折叠样式*/
.protyle-wysiwyg div[fold="1"]:not(div[data-type="NodeListItem"]){
	background-color:var(--b3-fn__flex-shrink-background);
	border-radius:5px;
	border:1px solid var(--b3-border-fold);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before{
	background-color:transparent;
}


/* ————————————————————弹出菜单&设置菜单———————————————————— */
.b3-menu{
	animation: menu 0.2s ease-in-out;
	box-shadow: var(--b3-menu-shadow);
	background-color:var(--b3-theme-background);
	padding:5px 4px;
}
.b3-menu .b3-menu__submenu{
	top:-6px;
	padding:5px 4px;
	margin:0 4px;
	background-color:var(--b3-theme-background)!important;
}
.b3-menu__item{
	padding: 0 8px;
	background-color: var(--b3-theme-background);
	border-radius:3px;
}
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
	background-color:var(--b3-list-background);
}
.b3-menu__accelerator{
	color:var(--b3-scroll-color-hover);
}/*快捷键提示*/
.b3-list-item--big{
	padding: 14px 24px;
	border-radius: 0px;
}
/* 按钮 */
.b3-button:not(.b3-button--text):not(.b3-button--cancel){
  font-weight:700;
  background-color:var(--b3-theme-primary);
  color: var(--b3-theme-background) !important;
  border:1px solid rgb(15 15 15 / 10%);
  box-shadow:rgb(15 15 15 / 10%) 0px 1px 2px;
}

.b3-button:not(.b3-button--text):not(.b3-button--cancel):hover{
   background-color:var(--b3-button);
}
/* 开关 */
.b3-switch {
  height: 14px;
  width: 26px;
  padding: 1px;
  border-radius: 44px;
  box-sizing: content-box;
  background: var(--b3-border-color);
}

.b3-switch::after {
  border: none;
  box-shadow: none;
  width: 14px;
  height: 14px;
  border-radius: 44px;
  background: var(--b3-theme-background);
  transform: translateX(5px) translateY(4px);
}

.b3-switch::before {
  display: none !important;
}

.b3-switch:checked {
  background-color: var(--b3-theme-primary);
}

.b3-switch:checked:after {
  background: var(--b3-theme-background);
  transform: translateX(17px) translateY(4px);
}
/*属性面板*/
.b3-dialog__container{
	background-color: var(--b3-fn__flex-shrink-background);
}
/*设置菜单窗口*/
.b3-dialog__container .fn__flex-column{
	background-color: var(--b3-theme-background);
    border-radius: 5px;
}
.b3-dialog__container .b3-list--background
{
	background-color:var(--b3-fn__flex-shrink-background);
	border-radius:0 0 0 5px;
	border-right: 0px;

}
.fn__flex .b3-label{
	padding: 20px 0px;
	margin: 0% 4%;
}
.b3-list-item--big .b3-list-item__graphic{
	height: 14px;
    width: 14px;
	color:var(--b3-list-background-more);
}
/*引用块弹出框*/
.block__popover--open{
	border:none;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
}
.block__edit>.protyle-breadcrumb>.block__icon svg{
	color:var(--b3-theme-on-surface);
	width:14px;
	height:14px;
	padding: 5px;
}
.block__edit>.protyle-breadcrumb>.block__icon{
	padding: 0px;
}
.block__popover--move>.block__icons{
	padding:0 10px;
}
/* 弹出框钉住 */
.block__icon--active[data-type='pin'] svg{
    color: var(--b3-theme-primary)!important;
	transition: all 200ms;
	transform: rotate(-46deg);
}
.block__icon--active{
	background-color:transparent;
}
/* 选择下拉菜单 */
.b3-select {
	border: 1px solid var(--b3-border-color);
	padding: 2px 8px 4px 8px;
}
/* 移动文档菜单 */
#foldList .b3-list-item__icon{
	padding-left:18px;
}
#foldList .b3-list-item__showall{
	padding-left:3px;
	height:26px;
	line-height:26px;
	color:var(--b3-theme-on-surface);
}
/*历史面板*/
.b3-dialog__container .layout-tab-bar .item{
	padding: 8px 14px;
}
.b3-dialog__container .layout-tab-bar .item--focus{
	position:relative;
}
.b3-dialog__container .layout-tab-bar .item--focus::after{
	content: '';
	position: absolute;
	bottom: -7px;
	left: 0px;
	right: 0px;
	height: 2px;
	background-color:var(--b3-item-focus);
}
div#historyContainer{
	border-top:1px solid var(--b3-border-color);
}
/*pdf*/
.pdf__outer,#sidebarContainer,#toolbarViewer,#toolbarViewer>.fn__flex-1{
	background-color:var(--b3-fn__flex-shrink-background);
}

#toolbarSidebar,#toolbarSidebar>.fn__flex-1{
	background-color:var(--b3-toolbarSidebar);
}
.pdfViewer{
	background-color:var(--b3-theme-background);
}
.b3-color__square{
	 border-radius: 3px;
	 width:22px;
	 height:22px;											   
	 box-shadow: 0 0 0 1px var(--b3-border-color) inset;
	 font-weight: 500;
}
.b3-color__square[style*="--b3-pdf-background"]::before{
	 content: "A";
	 color:var(--b3-theme-on-background);
	 margin-top:-2px;
	 font-weight:500;
	 font-size:1.1em;
	}
/*pdf批注*/
.protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:before {
    content:"💡 ";
}
.protyle-wysiwyg span[data-type="file-annotation-ref"] {
  font-size: 90%;
  border-radius: 3px;
  padding:2px 6px 4px 6px;
  color: var( --b3-theme-on-background)!important;
  background-color:var(--b3-toolbar-item-hover);
}
.protyle-wysiwyg span[data-type="file-annotation-ref"]:hover {
  background-color:var(--b3-border-color);
}
/* '/'弹出分栏*/
.b3-menu .b3-list-item{
	border-radius:3px;
}
.b3-menu .b3-list-item__text{
	margin:0 0 0 8px;	
	color:var(--b3-theme-on-background);
}
.b3-menu .b3-list-item__graphic{
	margin:0px;
	width:10px;
	height:12px;
	border:1px solid var(--b3-border-color);
}
.b3-menu.b3-list.b3-list--background.hint--menu{
	display: flex;
	flex-flow: column wrap;
    min-width: 50vw !important;
	padding:5px 0px 5px 5px;
}
@media screen and (min-width: 1280px){
	.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item--two,.b3-menu.b3-list.b3-list--background.hint--menu>.b3-menu__separator{
	width:calc(25% - 5px);
}
	.b3-menu.b3-list.b3-list--background.hint--menu{
	max-height: 412px !important;
	}
}
@media screen and (max-width: 1280px) {
	.b3-menu.b3-list.b3-list--background.hint--menu>.b3-list-item--two,.b3-menu.b3-list.b3-list--background.hint--menu>.b3-menu__separator{
	width:calc(33.3% - 5px);
	}
	.b3-menu.b3-list.b3-list--background.hint--menu{
	max-height: 540px !important;
	}
}
/*文本框选颜色*/
::selection {
     background: var( --b3-theme-primary-lightest);
}
/*滚动条*/
::-webkit-scrollbar {
    width : var(--webkit-scrollbar);
	height: var(--webkit-scrollbar);
	background-color:var(--b3-scroll-bgcolor);
}
::-webkit-scrollbar-thumb:hover{
    background-color:var(--b3-scroll-color-hover);
}
::-webkit-scrollbar-thumb{
	border-radius: var(--webkit-scrollbar-thumb);
}
/* 动态加载和调节进度条*/
.b3-slider{height:24px;}
.b3-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: var(--b3-theme-primary-lighter);
	

}
.b3-slider::-webkit-slider-container {
padding:3px;
	height: 30px;
    overflow: hidden;
}

.b3-slider::-webkit-slider-thumb {
	transform:unset !important;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid transparent;
    margin-top: -2px;
    border-image: linear-gradient(var(--b3-theme-primary),var(--b3-theme-primary)) 0 fill / 1 5 1 0 / 0px 0px 0 2000px;
	box-shadow: 0px 0px 0px 3px var(--b3-theme-primary) ;
}
.b3-slider::-webkit-slider-thumb:hover{
	box-shadow:0px 0px 0px 3px var(--b3-theme-primary),0px 0px 0px 5px var(--b3-theme-primary-lighter);
	transition:all 500ms;
}

/*底栏适配调整测试*/
.status{
	height:30px;
	background-color:transparent;
}
.status .toolbar__item{
	margin:  7px 5px 13px 5px;
	border-radius: 5px;
	background-color: var(--b3-scroll-color);
}

.status .toolbar__item svg{
	padding:5px;
	color:var(--b3-dockright-color);
}
.body--win32>.fn__flex-1{
	overflow:visible;
}
.dock#dockLeft,
.dock#dockRight{
	padding-top:10px;
	padding-bottom:30px;
}

.layout#layouts .fn__flex-column>.fn__flex-1>.fn__flex>.layout-tab-container>.fn__flex-column{
	padding-bottom:30px;
}
.layout#layouts{
	margin-bottom:-30px;
}

.status__counter:not(:empty){
	border-radius:5px;
	background-color:var(--b3-theme-primary);
	color:#fff;
	padding-left:10px;
	margin-right:5px;
	margin-bottom:5px;
	opacity:0;
	transition: opacity 300ms;
	transition-delay: 3000ms;
}
.status__counter:not(:empty) span{
	color:#fff;
}
.status__msg:not(:empty){
	opacity:0.5;
	animation: statusmsg 5s ease-in-out;
	max-width: 180px;
	padding:2px 5px 5px 5px;
	font-size:80%;
	border-radius:5px;
	background-color:var(--b3-scroll-color);
	margin-left:5px;
	margin-bottom:5px;
	transition: max-width 300ms,opacity 300ms;
	transition-delay: 2000ms;
}
.status__msg:not(:empty):hover{
	opacity:1;
	max-width:400px;
	transition: max-width 500ms ease-out;
}