[data-subtype="u"]>[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/dot.svg) no-repeat;
    mask:           url(img/dot.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/circle.svg) no-repeat;
    mask:           url(img/circle.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/square-u.svg) no-repeat;
    mask:           url(img/square-u.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/dot.svg) no-repeat;
    mask:           url(img/dot.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/circle.svg) no-repeat;
    mask:           url(img/circle.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/square-u.svg) no-repeat;
    mask:           url(img/square-u.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/dot.svg) no-repeat;
    mask:           url(img/dot.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/circle.svg) no-repeat;
    mask:           url(img/circle.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/square-u.svg) no-repeat;
    mask:           url(img/square-u.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/dot.svg) no-repeat;
    mask:           url(img/dot.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/circle.svg) no-repeat;
    mask:           url(img/circle.svg) no-repeat;
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	background-color:var(--b3-theme-on-background);
    -webkit-mask:   url(img/square-u.svg) no-repeat;
    mask:           url(img/square-u.svg) no-repeat;
}