:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #2f3437;/* 编辑区背景 */
	--b3-theme-background-light: rgba(230, 230, 230, .1);
    --b3-theme-surface:rgba(55, 60, 63);/* 面板主色 */
	--b3-theme-surface-light: rgba(41, 42, 45, .86);
	--b3-theme-surface-lighter:rgba(230, 230, 230, .06);
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #ebebeb;
    --b3-theme-on-surface: #afb1b2;
    --b3-theme-on-surface-light: rgba(154, 160, 166, .68);
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family:apple-system, BlinkMacSystemFont, "Segoe UI", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,  "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 线条 */
    --b3-border-color: rgba(230, 230, 230, .1);

    /* 滚动条 */
    --b3-scroll-color: rgba(71, 76, 80 );
	--b3-scroll-color-hover: rgba(104,108,110);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(255, 255, 255, 0.2);
	
	--webkit-scrollbar: 6px;
	--webkit-scrollbar-thumb: 4px;
    /* 列表 */
    --b3-list-hover: rgba(230, 230, 230, .05);

    /* 菜单 */
    --b3-menu-background: #27282a;

    /* 提示 */
    --b3-tooltips-color: rgba(70, 72, 76, .86);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: #d69595;
    --b3-card-error-background: var(--b3-font-background13);
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: var(--b3-font-background5);
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: var(--b3-font-background10);
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: var(--b3-font-background8);

    /* 自定义文字 */
	--b3-font-color1: #FFF;
    --b3-font-color2: #6f7477;
	--b3-font-color3: rgb(147, 114, 100);
    --b3-font-color4: rgb(253, 162, 68);
	--b3-font-color5: rgb(255, 184, 73);
    --b3-font-color6: rgb(255, 220, 73);
	--b3-font-color7: rgb(77, 171, 154);
    --b3-font-color8: rgb(82, 178, 202);
    --b3-font-color9: rgb(82, 156, 202);
    --b3-font-color10: rgb(154, 109, 215);
    --b3-font-color11: rgb(226, 85, 161);
    --b3-font-color12: rgb(255, 115, 105);
	--b3-font-color13: rgb(223, 84, 82);
    
	--b3-font-background1: rgb(35, 38, 40);
    --b3-font-background2: rgb(63, 68, 71);
    --b3-font-background3: rgb(69, 75, 78);
    --b3-font-background4: rgb(67, 64, 64);
	--b3-font-background5: rgb(89, 74, 58);
    --b3-font-background6: rgb(89, 79, 59);
    --b3-font-background7: rgb(89, 86, 59);
	--b3-font-background8: rgba(53, 76, 75);
    --b3-font-background9: rgb(54, 79, 84);
    --b3-font-background10: rgb(54, 73, 84);
    --b3-font-background11: rgb(68, 63, 87);
    --b3-font-background12: rgb(83, 59, 76);
    --b3-font-background13: rgb(89, 65, 65);
	/*callout*/
	--b3-bq-background1: rgb(35, 38, 40 , .3);
    --b3-bq-background2: rgb(63, 68, 71 , .3);
    --b3-bq-background3: rgb(69, 75, 78 , .3);
    --b3-bq-background4: rgb(67, 64, 64 , .3);
	--b3-bq-background5: rgb(89, 74, 58 , .3);
    --b3-bq-background6: rgb(89, 79, 59 , .3);
    --b3-bq-background7: rgb(89, 86, 59 , .3);
	--b3-bq-background8: rgba(53, 76, 75 , .3);
    --b3-bq-background9: rgb(54, 79, 84 , .3);
    --b3-bq-background10: rgb(54, 73, 84 , .3);
    --b3-bq-background11: rgb(68, 63, 87 , .3);
    --b3-bq-background12: rgb(83, 59, 76 , .3);
    --b3-bq-background13: rgb(89, 65, 65 , .3);
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(240, 246, 252, .15);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: #32593c;
    --b3-protyle-inline-mark-color: #e8eaed;
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #9876aa;

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	
	/* 自定义结构配色 */
	/* 顶栏 */
	--b3-toolbar-blur-background: var(--b3-fn__flex-shrink-background);
	--b3-toolbar-background: var(--b3-theme-background);
	--b3-toolbar-item-hover: rgba(255, 255, 255, 0.1);
	--b3-toolbar-closeWindow-hover: #e81123;
	--b3-toolbar-closeWindow-svg: #fff;
	/* dock栏 */
	--b3-dockright-color: rgba(114, 118, 120);
	--b3-dockright-background: rgba(230, 230, 230, .1);
	--b3-dockleft-color: rgba(114, 118, 120);
	--b3-dock-background: rgba(230, 230, 230, .1);
	--b3-dockright-item-active-background: rgba(71, 76, 80 );
	--b3-dockleft-item-active-background: rgba(71, 76, 80 );
	--b3-dock-item-active-color: #eb8383;
	--b3-dock-item-hover-background: rgba(71, 76, 80 );
	
	--b3-dock-item-width: 36px;
	--b3-dock-item-padding: 5px;
	--b3-dock-item-margin: 7px 5px 7px 5px;
	--b3-dock-item-radius: 5px;
	/* 侧栏面板 */
	--b3-fn__flex-column-background: rgba(55, 60, 63);
	--b3-fn__flex-shrink-background: rgba(55, 60, 63);
	--b3-block-logo-color: rgba(55, 60, 63);
	--b3-block-logo-background-color: rgba(114, 118, 120);
	--b3-block-icon-svg-color: rgba(114, 118, 120);
	--b3-block-icon-hover: rgba(255, 255, 255, 0.1 );
	--b3-block-icon-active: #eb8383;
	--b3-list-item-arrow: rgba(149, 152, 156);
	--b3-list-background: rgba(255, 255, 255, 0.1);
	--b3-list-background-focus: rgba(255, 255, 255, 0.2 );
	--b3-list-background-more:#c5c7c8;
	
	--b3-flex-column-padding:6px 0px 4px 0px;
	--b3-list-item-radius: 3px;
	/* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
	/* 线条 */
	--b3-layout-resize: rgba(230, 230, 230, .1);
	--b3-shrink-layout-resize: rgba(230, 230, 230, .1);
	--b3-layout-resize-hover: var(--b3-scroll-color);
	--flex-width-transition:width 150ms linear; /*调节宽度动画*/
	--b3-border-fold: rgba(114, 118, 120);/*折叠边框*/
	--b3-layout-resize-width: 1px;
	/* 页签 */
	--b3-item-focus: rgba(255, 255, 255 ,0.2);
	/* 面包屑 */
	--b3-protyle-breadcrumb-shadow:var(--b3-layout-resize);
	--b3-protyle-breadcrumb-arrow: rgba(174,172,166);
	--b3-breadcrumb-svg: var(--b3-theme-on-surface);
	/* 头图按钮 */
	--b3-icons-tooltips: var(--b3-theme-on-surface);
	--b3-icons-tooltips-hover: var(--b3-list-background);
	--b3-img-icons-tooltips: var(--b3-theme-on-surface);
	--b3-img-icons-tooltips-bg: var(--b3-theme-background);
	--b3-img-icons-span: rgba(255, 255, 255, .5);
	/* 块标 */
	--b3-gutters-color: var(--b3-scroll-color);
	--b3-gutters-background: var(--b3-border-color);												   
	/* 弹出工具条字体颜色选择 */
	--b3-color--square: var(--b3-border-color);
	/* 任务列表 */
	--b3-task-done-color: var(--b3-scroll-color-hover);
	--b3-task-done-hover: #069ccd;
	/* 引述 */
	--b3-bq-background: rgba(54, 59, 62);
	/* 块引用 */
	--b3-block-ref-background: var(--b3-toolbar-item-hover);
	/* 代码块 */
	--b3-linenumber-rows: rgba(61, 66, 69);
	--b3-code-block-hljs: var(--b3-fn__flex-shrink-background);		
	/*行内代码*/
	--b3-inline-code:var(--b3-theme-error);
	/*按钮*/
	--b3-button: #069ccd;
	/*pdf*/
	--b3-toolbarSidebar: #484d50;
	/*导图*/
	--b3-border-daotu: 2px solid rgba(69, 74, 77);
	--b3-block-daotu:var(--b3-theme-surface-light);
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:rgba(55, 60, 63);
	/*ctrlp*/
	--b3-list-item--meta: var(--b3-scroll-color-hover);
	/*底栏状态*/
	--b3-status-msg-background: var(--b3-scroll-color);
}

/* PDF */
.pdfViewer .page canvas,
.thumbnailImage {
    filter: grayscale(0%) invert(100%) contrast(100%) brightness(100%) hue-rotate(180deg);
}

.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.b3-text-field::-webkit-calendar-picker-indicator {
    filter: invert(1)
}
body{
	border: 0px!important;
}

#notionToolbar {
	filter: hue-rotate(180deg) invert(90%);
}

.protyle-wysiwyg .hljs{
	background-color:#c8c2c8!important;
	filter: hue-rotate(90deg) invert(100%);
}


[id*=mermaid] line {
    stroke: #808080!important;
}

[id*=mermaid] .relation {
    filter: invert(100%)!important;
}
[id*=mermaid] .messageText {
    stroke: #808080!important;
}
[id*=mermaid] .relationshipLine {
    stroke: #808080!important;
}