.layout__center ~ .fn__flex-column .layout-tab-container>.fn__flex-column.file-tree{
	background-color:var(--b3-theme-background)!important;
}

.layout__center ~ .fn__flex-column {
	opacity:0;
	transform:translateX(65%);
	transform-origin: 100% 0 ;
	position:absolute;
	right:0px;
	z-index:2;
	top:80px;
	bottom:50px;
	min-height: unset;
	height:calc(100% - 130px);
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	border-right:36px solid transparent;/*增加点击区域*/
	border-radius:5px 0 0 5px;
	overflow:hidden;
	transition: all 200ms!important;
}

.layout__center ~ .fn__flex-column:hover{
	opacity:1;
	transform:translateX(0%);
	transition: all 300ms!important;
}
.layout__center+.layout__resize--lr{
	width:0px;
	margin:0;
}
.dock__item {
	z-index:7;
}
#dockRight:before{
	content: "";
    height:calc(100% - 35px);
	width:36px;
	right:-36px;
	box-shadow: var(--b3-dockright-background) -36px 0px 0px 0px;
	z-index:2;
    position: absolute;
	bottom:0px;
}

#dockLeft.fn__none+#layouts .layout__center ~ .fn__flex-column{
	right:-36px;
}