:root {
    /* 主色 */
    --b3-theme-primary: #3573f0;
    --b3-theme-primary-light: rgba(53, 115, 240, 0.72);
    --b3-theme-primary-lighter: rgba(53, 115, 240, 0.48);
    --b3-theme-primary-lightest: rgba(53, 115, 240, 0.24);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #1e1e1e;
    --b3-theme-background-light: rgba(255, 255, 255, 0.075);
    --b3-theme-surface: #262626;
    --b3-theme-surface-light: rgba(41, 42, 45, .86);
    --b3-theme-surface-lighter: rgba(230, 230, 230, .06);
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #dadada;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-surface-light: #bababa;
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--b3-theme-surface);
    --b3-toolbar-blur-background: var(--b3-border-color);
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-toolbar-hover: var(--b3-theme-background-light);
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: #363636;
    --b3-border-radius: 6px;
    --b3-border-radius-b: 12px;

    /* 滚动条 */
    --b3-scroll-color: rgba(230, 230, 230, .2);

    /* 列表 */
    --b3-list-hover: var(--b3-border-color);
    --b3-list-icon-hover: rgba(201, 209, 217, .1);

    /* 菜单 */
    --b3-menu-background: var(--b3-theme-surface);

    /* 提示 */
    --b3-tooltips-background: #030303;
    --b3-tooltips-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: 0 2px 8px rgba(0, 0, 0, .3);

    /* 为空提示 */
    --b3-empty-color: var(--b3-theme-on-surface);

    /* 遮罩 */
    --b3-mask-background: rgba(10, 10, 10, 0.4);

    /* 卡片背景 */
    --b3-card-error-color: rgb(243, 153, 147);
    --b3-card-error-background: #442724;
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: #554636;
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: #28405c;
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: #425347;

    /* 自定义文字 */
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: var(--b3-card-info-color);
    --b3-font-color4: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color6: var(--b3-theme-primary);
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: var(--b3-theme-error);
    --b3-font-color9: #f5539e;
    --b3-font-color10: #bc67bc;
    --b3-font-color11: #65b84d;
    --b3-font-color12: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: #4c5257;
    --b3-font-background6: #0c3d88;
    --b3-font-background7: #593905;
    --b3-font-background8: #541812;
    --b3-font-background9: #6a0634;
    --b3-font-background10: #6b2f6b;
    --b3-font-background11: #376629;
    --b3-font-background12: #803a06;
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .2s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 下拉菜单 */
    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(154, 160, 166, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 2px center var(--b3-theme-background);

    /* 阴影 */
    --b3-point-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0 3px 6px rgba(0, 0, 0, .04), 0 0 0 0 transparent;
    --b3-dialog-shadow: 0 8px 24px #010409;
    --b3-button-shadow: 0px 5px 5px -3px rgb(0 0 0 / 0.2), 0px 8px 10px 1px rgb(0 0 0 / 0.14), 0px 3px 14px 2px rgb(0 0 0 / 0.12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: hsl(254, 80%, 74.8%);
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #e8eaed;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #9aa0a6;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(240, 246, 252, .15);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: rgba(255, 208, 0, .4);
    --b3-protyle-inline-mark-color: var(--b3-theme-on-background);
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #8957e5;
    --b3-protyle-inline-fileref-color: var(--b3-theme-secondary);

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;
    --b3-pdf-dark: #212224;
}

/* https://github.com/siyuan-note/siyuan/issues/6440 */
.protyle-action--order:after {
    mix-blend-mode: screen;
}

.b3-text-field::-webkit-calendar-picker-indicator {
    filter: invert(1)
}
