.protyle-attr {
  display: flex;
  position: absolute;
  right: 0;
  top: -12px;
  opacity: 0;
  font-size: 12px;
  font-weight: normal;
  align-items: center;
  line-height: 16px;

  & > div.protyle-attr--bookmark {
    flex: 1;
  }

  & > div:not(.protyle-attr--refcount) {
    margin: 0 4px;
    line-height: 16px;
    color: var(--b3-theme-on-surface);
    min-width: 12px;

    &.protyle-attr--memo svg {
      margin-right: 0;
    }

    &:hover {
      color: var(--b3-theme-on-background);
    }

    svg {
      height: 12px;
      width: 12px;
      margin: 2px 2px 0 0;
      float: left;
    }
  }

  &--refcount {
    right: -16px;
    top: 18px;
    position: absolute;
    line-height: 16px;
    padding: 0 4px;
    color: var(--b3-theme-on-surface);
    border-radius: var(--b3-border-radius);
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    height: 16px;
    background-color: var(--b3-theme-surface);
    z-index: 1; // 防止被 protyle-scroll 遮挡

    &:hover {
      color: var(--b3-theme-on-background);
      background-color: var(--b3-theme-surface-lighter);
    }
  }

  &:empty {
    display: none;
  }
}
