.av {
  user-select: none;
  box-sizing: border-box;

  &__gutters {
    @extend .protyle-gutters;
    position: absolute;
    top: 5px;
    left: -26px;
    opacity: 0;
    padding-right: 4px;
  }

  &__mask {
    position: fixed;
    z-index: 320;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__scroll {
    overflow: auto hidden;
    cursor: pointer;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
    position: relative;

    &:hover .av__gutters {
      opacity: 1;
    }

    &--header .av__cell {
      display: flex;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        color: var(--b3-theme-on-surface);
        margin-right: 5px;
      }
    }

    &--select {
      background-color: var(--b3-theme-primary-lightest);

      .av__firstcol svg {
        opacity: 1;
      }
    }

    &--header {
      z-index: 1;
    }

    &--header,
    &--footer {
      background-color: var(--b3-theme-background);
    }
  }

  &__cell {
    padding: 5px;
    flex-shrink: 0;
    border-right: 1px solid var(--b3-theme-surface-lighter)
  }

  &__firstcol {
    svg {
      color: var(--b3-theme-on-surface);
      height: 36px;
      width: 24px;
      opacity: 0;
      padding: 5px;
      box-sizing: border-box;
      float: left;
    }

    &:hover svg {
      opacity: 1;
    }
  }
}
