.block {
  &__popover {
    background-color: var(--b3-theme-background);
    position: absolute;
    box-shadow: var(--b3-dialog-shadow);
    width: 60vw;
    word-break: break-word;
    border-radius: var(--b3-border-radius-b);
    opacity: 0;
    transition: opacity 75ms linear;
    top: -100px;
    display: flex;
    flex-direction: column;
    min-height: 197px;
    z-index: -1;
    border: 1px solid var(--b3-theme-surface-lighter);

    &--open {
      opacity: 1;
    }

    & > .block__icons {
      border-radius: var(--b3-border-radius-b) var(--b3-border-radius-b) 0 0;

      & > .resize__move {
        height: 42px;
      }
    }
  }

  &__content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(--b3-border-radius-b) var(--b3-border-radius-b);
    flex: 1;
  }

  &__edit {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);

    &:last-child {
      border-bottom: 0;
    }
  }

  &__icons {
    padding: 0 8px;
    display: flex;
    align-items: center;
    min-height: 42px;
    flex-shrink: 0;

    &--menu {
      background-color: var(--b3-menu-background);
    }

    &:hover .block__icon:not([disabled]) {
      opacity: 1;
    }

    &:hover [disabled].block__icon {
      opacity: .38;
    }

    .counter {
      background-color: var(--b3-theme-background);
    }
  }

  &__icon {
    color: var(--b3-theme-on-surface);
    cursor: pointer;
    opacity: 0;
    border: 0;
    background: transparent;
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--b3-border-radius);
    transition: var(--b3-transition), opacity .3s cubic-bezier(0, 0, .2, 1) 0ms;
    line-height: 14px;

    &:hover:not([disabled]):not(.ft__primary),
    &--active {
      color: var(--b3-theme-on-background);
      background-color: var(--b3-list-icon-hover);
    }

    &--show {
      opacity: 1;

      &.block__icon[disabled] {
        opacity: 0.38;
        cursor: not-allowed;
      }
    }

    svg {
      height: 14px;
      width: 14px;
    }
  }

  &__logo {
    svg {
      height: 16px;
      width: 16px;
      padding: 4px;
      flex-shrink: 0;
    }

    white-space: nowrap;
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
}
