.card {
  &__main {
    @extend .fn__flex-column;
    box-sizing: border-box;
    max-height: 100%;
    background-color: var(--b3-theme-surface);
    border-radius: var(--b3-border-radius-b);
  }

  &__empty {
    display: flex;
    flex: 1;
    text-align: center;
    background-color: var(--b3-theme-background);
    font-size: 16px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    color: var(--b3-theme-on-surface);
    align-items: center;
    border-radius: 0 0 var(--b3-border-radius-b) var(--b3-border-radius-b);

    &--space {
      padding: 16px;
    }

    & > div {
      font-size: 64px;
      margin-bottom: 16px;
    }
  }

  &__action {
    padding: 8px 4px;

    .b3-button {
      padding: 8px 0;
      display: block;
      width: 100%;

      & > div {
        font-size: 32px;
        display: block;
        line-height: 46px;
        margin-bottom: 4px;
      }
    }

    & > div {
      flex: 1;
      margin: 0 4px;

      & > span {
        display: flex;
        color: var(--b3-theme-on-surface);
        text-align: center;
        font-size: 12px;
        margin-bottom: 8px;
        height: 28px;
        line-height: 14px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__block {
    .protyle-wysiwyg [data-node-id][custom-riff-decks] {
      box-shadow: none;
    }

    &--hidemark span[data-type~=mark] {
      transition: var(--b3-transition);
      color: transparent !important;
    }

    &--hideli .li > .list {
      display: none;
    }

    &--hidesb .protyle-wysiwyg > .sb > div:nth-of-type(n+2):not(.protyle-attr) {
      display: none;
    }

    &--hideh .protyle-wysiwyg > div[data-type="NodeHeading"] ~ div {
      display: none;
    }
  }
}


