.card {
  &__empty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    background-color: var(--b3-theme-background);
    font-size: 16px;

    & > div {
      font-size: 64px;
      margin-bottom: 16px;
    }
  }

  &__action {
    padding: 16px 24px;

    & > div > span {
      display: block;
      color: var(--b3-theme-on-surface);
      text-align: center;
      line-height: 15px;
      font-size: 10px;
    }
  }

  &__block {
    .protyle-wysiwyg [data-node-id][custom-riff-decks] {
      box-shadow: none;
    }

    &--hide {
      .protyle-wysiwyg > .sb > div:nth-of-type(n+2):not(.protyle-attr) {
        display: none;
      }

      .li > .list {
        display: none;
      }

      span[data-type~=mark] {
        transition: var(--b3-transition);
        color: transparent !important;
      }
    }
  }


}


