.custom-attr {

  &__avvalue {
    cursor: pointer;
    transition: var(--b3-transition);
    border-radius: var(--b3-border-radius);
    padding: 4px 8px;
    line-height: 26px;
    min-height: 26px;
    flex-wrap: wrap;

    &:hover {
      background-color: var(--b3-theme-background);
    }

    &--readonly {
      padding: 7px 8px;
      line-height: 26px;
      min-height: 26px;

      &[data-type="created"],
      &[data-type="updated"] {
        padding: 4px 8px;
      }
    }

    .av__checkbox {
      width: 16px;
      height: 26px;
    }
  }

  &__avheader {
    border-bottom: 1px solid var(--b3-border-color);
    padding: 8px;
    color: var(--b3-protyle-inline-blockref-color);
    opacity: .86;
    transition: var(--b3-transition);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .b3-label {
    display: block;
    padding: 8px 16px;
  }

  .block__logo:not(.popover__block) {
    width: 160px;
    color: var(--b3-theme-on-surface);
    align-self: flex-start;
    margin-top: 5px;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .block__icons {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 100%;
    border-bottom: 0;

    & > .block__icon {
      cursor: grab;
      align-self: flex-start;
      margin-top: 5px;

      &:hover {
        background-color: transparent;
      }
    }

    [placeholder]:empty:before {
      color: var(--b3-empty-color);
      content: attr(placeholder);
    }
  }

  .block__icons--addcolumn {
    padding: 0 8px;

    .b3-button[data-type="addColumn"] {
      margin: 0 0 0 16px;
      color: var(--b3-theme-on-surface);
      background-color: rgba(0,0,0,0);

      &:hover,
      &:focus {
        background-color: var(--b3-list-hover);
        box-shadow: none;
      }

      svg {
        padding: 4px;
      }

      span {
        padding-right: 4px;
      }
    }
  }

  .b3-text-field--text {
    transition: var(--b3-transition);
    min-height: 34px;
    background-color: transparent;
    padding: 7px 8px;

    &:hover {
      background-color: var(--b3-theme-background);
    }
  }

  .b3-chip {
    margin: 1px 2px;
  }

  .av__cellassetimg {
    max-height: 24px;
  }

  .av__row.dragover__top::after {
    top: -2px
  }
}
