.custom-attr {

  &__avvalue {
    cursor: pointer;
    transition: var(--b3-transition);
    border-radius: var(--b3-border-radius);
    padding: 4px 8px;
    line-height: 26px;
    min-height: 26px;
    flex-wrap: wrap;

    &:hover {
      background-color: var(--b3-theme-background);
    }
  }

  &__avheader {
    border-bottom: 1px solid var(--b3-border-color);
    padding: 8px;
    color: var(--b3-protyle-inline-blockref-color);
    opacity: .86;
    transition: var(--b3-transition);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .b3-label {
    display: block;
    padding: 8px 16px;
  }

  .block__logo:not(.popover__block) {
    width: 160px;
    color: var(--b3-theme-on-surface);
    align-self: flex-start;
    margin-top: 5px;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .block__icons {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 100%;
    border-bottom: 0;

    & > .block__icon {
      cursor: grab;
      align-self: flex-start;
      margin-top: 5px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .b3-text-field--text {
    transition: var(--b3-transition);
    min-height: 34px;
    background-color: transparent;
    padding: 7px 8px;

    &:hover {
      background-color: var(--b3-theme-background);
    }
  }

  .b3-chip {
    margin: 1px 2px;
  }

  .av__cellassetimg {
    max-height: 24px;
  }

  .dragover__top.av__row {
    box-shadow: 0 -2px 0 var(--b3-theme-primary-lighter), inset 0 2px 0 var(--b3-theme-primary-lighter) !important;
  }
}
