.custom-attr {
  .b3-label {
    display: block;
    padding: 8px 16px;
  }

  .block__logo {
    width: 160px;
    color: var(--b3-theme-on-surface);

    svg {
      margin-right: 4px;
    }

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.custom-attr__avheader {
      width: 100%;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--b3-border-color);
      padding: 8px 0;
    }
  }

  .b3-text-field--text {
    cursor: pointer;
    transition: var(--b3-transition);
    height: 34px;
    background-color: transparent;

    &:hover {
      background-color: var(--b3-theme-background);
    }
  }

  .custom-attr__avarrow {
    height: 12px;
    width: 12px;
    color: var(--b3-theme-on-surface);
    margin: 0 5px;
    flex-shrink: 0;
    align-self: center;
  }

  .custom-attr__avvalue {
    cursor: pointer;
    transition: var(--b3-transition);
    border-radius: var(--b3-border-radius);
    padding: 4px 8px;
    line-height: 26px;
    min-height: 26px;

    &:hover {
      background-color: var(--b3-theme-background);
    }
  }

  .b3-chip {
    margin: 1px 2px;
  }
}
