.history {
  &__text {
    background-color: var(--b3-theme-background);
    padding: 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0 0 4px 0;
    resize: none;
    color: var(--b3-theme-on-background);
  }

  &__repo {
    background-color: var(--b3-theme-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    overflow: hidden;

    .b3-chip--secondary {
      padding: 0 8px;
      font-size: 12px;
      line-height: 16px;
      margin-right: 8px;
    }
  }

  &__repoheader {
    padding: 8px 16px;
    flex-wrap: wrap;

    .block__icon {
      opacity: 1;
      z-index: 1;
    }
  }

  &__date {
    text-align: center;
    line-height: 20px;
    color: var(--b3-theme-on-surface);
    background: var(--b3-theme-background);
  }
}
