.history {
  &__text {
    background-color: var(--b3-theme-background);
    padding: 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0 0 var(--b3-border-radius-b) 0;
    resize: none;
    color: var(--b3-theme-on-background);
  }

  &__repo {
    background-color: var(--b3-theme-surface);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0 0 var(--b3-border-radius-b) var(--b3-border-radius-b);
  }

  &__date {
    text-align: center;
    line-height: 20px;
    color: var(--b3-theme-on-surface);
    background: var(--b3-theme-background);
  }

  &__diff {
    width: 200px;
    border-right: 1px solid var(--b3-border-color);
    padding: 8px 0;
    overflow: auto;
  }

  &__panel > .b3-list,
  &__panel > .history__diff {
    width: 256px;
  }
}
