.search {
  &__layout {
    display: flex;
    flex: 1;
    min-height: 0.1px;
    flex-direction: column;

    &--row {
      flex-direction: row;
      border-top: 1px solid var(--b3-theme-surface-lighter);
      border-bottom: 1px solid var(--b3-theme-surface-lighter);

      .search__preview {
        border-top: 0;
        border-left: 1px solid var(--b3-theme-surface-lighter);
      }

      .search__drag {
        cursor: col-resize;
        width: 6px;
        margin: 0 -6px 0 0;
        height: auto;

        &:after {
          width: 0.5px;
          height: 100%;
        }
      }
    }
  }

  &__header {
    display: flex;
    background: var(--b3-theme-background);
    position: relative;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);

    .block__icon {
      opacity: 1;
    }

    .b3-text-field--text {
      font-size: 18px;
      height: 42px;
      line-height: 32px;
      border-radius: 0;
      padding: 5px 8px 5px 44px !important;
      box-shadow: none;
      width: 100%;
    }

    .b3-form__icon-icon {
      top: 13px;
      left: 8px;
    }

    .b3-menu {
      max-width: 70%;
      max-height: 50vh;
      overflow: auto;
      top: 42px;
      position: absolute;
      left: 8px;
    }
  }

  &__arrowdown {
    position: absolute;
    height: 10px;
    width: 10px;
    left: 26px;
    top: 17px;
  }

  &__label {
    position: absolute;
    right: 8px;
    z-index: 1;
  }

  &__preview {
    background-color: var(--b3-theme-background);
    border-top: 1px solid var(--b3-theme-surface-lighter);
  }

  &__drag {
    cursor: row-resize;
    width: 100%;
    margin: 0 0 -6px 0;
    height: 6px;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      display: block;
      background-color: var(--b3-theme-surface-lighter);
      position: absolute;
      left: 0;
      transition: var(--b3-transition);
      top: 0;
      width: 100%;
      height: 0.5px;
    }

    &:hover:after {
      background-color: var(--b3-scroll-color);
    }
  }

  &__list {
    position: relative;
    flex: 1;
    overflow: auto;
    padding: 8px 0;

    .b3-list-item__text {
      user-select: none;
    }
  }

  &__path {
    white-space: nowrap;
    position: relative;
    padding-right: 20px;
    line-height: 18px;
  }

  &__rmpath {
    position: absolute;
    height: 18px;
    width: 16px;
    opacity: 0.68;
    transition: var(--b3-transition);
    right: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__tip {
    font-size: 12px;
    color: var(--b3-theme-on-surface-light);
    margin: 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 22px;

    kbd {
      &:first-child {
        margin-left: 0;
      }

      padding: 1px 3px;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      background-color: var(--b3-theme-surface);
      border: solid 1px var(--b3-theme-surface-lighter);
      border-radius: var(--b3-border-radius);
      box-shadow: inset 0 -1px 0 var(--b3-theme-surface-lighter);
      margin: 2px 4px 2px 16px;
      line-height: 14px;
    }
  }

  &__empty {
    text-align: center;
    font-size: 17px;
    padding: 32px;
    color: var(--b3-theme-on-surface);
  }
}
