.b3-color {
  &__square {
    height: 16px;
    margin-right: 4px;
    width: 16px;
    border: 0;
    transition: var(--b3-transition);
    box-shadow: 0 0 0 2px var(--b3-theme-surface-lighter) inset;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 0 1px var(--b3-theme-on-background) inset, 0 0 0 2px var(--b3-theme-background) inset;
    }
  }
}
