.search {
  &__header {
    display: flex;
    background: var(--b3-theme-background);
    position: relative;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);

    &:hover .block__icon {
      opacity: 1;
    }

    .b3-text-field--text {
      font-size: 18px;
      height: 42px;
      line-height: 32px;
      border-radius: 0;
      padding: 5px 8px 5px 44px !important;
      box-shadow: none;
      width: 100%;
    }

    .b3-form__icon-icon {
      top: 13px;
      left: 8px;
    }

    .b3-menu {
      max-width: 70%;
      max-height: 50vh;
      overflow: auto;
      top: 48px;
      position: absolute;
      left: 8px;
    }
  }

  &__arrowdown {
    position: absolute;
    height: 10px;
    width: 10px;
    left: 26px;
    top: 17px;
  }

  &__label {
    cursor: pointer;
    flex: 1;

    &:hover {
      color: var(--b3-theme-on-background);
    }

    .b3-form__icon-input {
      width: 0;
      transition: var(--b3-transition);
      border-color: transparent;
      box-sizing: border-box;
      padding-right: 0;
      border-radius: 2px;

      &:focus,
      &.search__input--block {
        width: 100%;
        border-color: var(--b3-theme-primary);
      }
    }
  }

  &__preview {
    background-color: var(--b3-theme-background);
    border-top: 1px solid var(--b3-theme-surface-lighter);
  }
}
