.b3-snackbar {
  //transform: translate3d(0, -100px, 0);
  //transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms, transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  margin-bottom: 16px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &s {
    position: fixed;
    right: -2px;
    top: 16px;
    z-index: 502;
    max-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;

    & > .fn__flex-1 {
      padding: 0 18px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &--error .b3-snackbar__content {
    background-color: var(--b3-theme-error);
    color: var(--b3-theme-on-error);
  }

  &__content {
    line-height: 20px;
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--b3-theme-on-primary);
    font-size: inherit;
    background-color: var(--b3-theme-primary);
    box-sizing: border-box;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
    word-break: break-word;
    width: 20vw;
    min-width: 240px;

    a {
      color: var(--b3-theme-on-primary);
      text-decoration: underline;
    }

    ul {
      margin-left: 16px;
    }
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 4px;
    height: 8px;
    width: 8px;
    padding: 4px;
    border-radius: 10px;
    color: var(--b3-theme-background-light);
    transition: var(--b3-transition);

    &:hover {
      color: var(--b3-theme-on-background);
      background-color: var(--b3-theme-background-light);
    }
  }
}
