@use "util/mixin" as *;
@use "component/tooltips" as *;
@use "protyle/wysiwyg" as *;
@use "component/typography" as *;
@use "protyle/attr" as *;
@use "util/function" as *;
@use "business/history" as *;
@use "component/button" as *;
@use "component/select" as *;
@use "component/switch" as *;
@use "component/slider" as *;
@use "component/text-field" as *;

.protyle-wysiwyg a,
.b3-typography a {
  color: var(--b3-protyle-inline-link-color);
  cursor: pointer;
  transition: var(--b3-transition);
}

svg {
  fill: currentColor;
  display: inline-block;
}

.protyle-wysiwyg [data-node-id].iframe:hover .protyle-action__drag {
  display: none;
}

.b3-typography,
.protyle-wysiwyg .table[data-node-id] {
  table {
    display: table;
  }
}

.protyle-wysiwyg .table[data-node-id] {
  &[style*="text-align: left"][style*="direction: rtl"] {
    direction: ltr !important;
  }

  &[style*="text-align: center"] {
    margin-left: auto;
    margin-right: auto;
  }

  &[style*="text-align: right"] {
    margin-left: auto;
  }
}

@media print {
  // 尽量避免块内分页
  .protyle-wysiwyg [data-node-id] {
    &[data-type=NodeAudio],
    &.render-node[data-type=NodeCodeBlock],
    &[data-type=NodeHeading],
    &[data-type=NodeIFrame],
    &[data-type=NodeMathBlock],
    // 移除段落块元素 https://github.com/siyuan-note/siyuan/issues/14702 &[data-type=NodeParagraph],
    &[data-type=NodeThematicBreak],
    &[data-type=NodeVideo],
    &[data-type=NodeWidget],
    .img {
      break-inside: avoid;
    }
  }
}
