@import "util/keyframes";
@import "util/mixin";
@import "component/chip";
@import "component/slider";
@import "component/switch";
@import "component/dialog";
@import "component/button";
@import "component/menu";
@import "component/snackbar";
@import "component/form";
@import "component/text-field";
@import "component/select";
@import "component/list";
@import "business/graph";
@import "business/layout";
@import "business/block";
@import "util/reset";
@import "util/function";
@import "business/history";
@import "business/color";
@import "protyle/protyle";
@import "component/typography";
@import "viewerjs/viewer";
@import "business/export";
@import "business/card";
@import "business/custom";

.block__popover {
  width: 80vw;
}

.b3-list--mobile {

  .counter {
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
  }

  & > .fn__flex-column {
    height: 100%;
  }

  .b3-list-item {
    font-size: 18px;
    line-height: 36px;
    padding: 4px;

    &__icon {
      font-size: 18px;
      line-height: 36px;
      height: auto;
    }

    &__graphic {
      width: 20px;
      height: 20px;
      padding: 8px 4px;
      line-height: 20px;
      font-size: 20px;
    }

    &__toggle {
      padding: 11px;
      height: auto;
    }

    &__arrow {
      height: 14px;
      width: 14px;
    }

    &__action {
      padding: 8px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.file-tree__sliderDown {
  height: 0;
  overflow: hidden;
  transition: var(--b3-transition);
}

.counter {
  margin-left: 4px;
  line-height: 22px;
  padding: 0 8px;
  color: var(--b3-theme-on-surface);
  border-radius: 2px;
  font-size: 12px;
  user-select: none;
  height: 22px;
  background-color: var(--b3-theme-background-light);
}

.toolbar {
  display: flex;
  align-items: center;
  max-width: 100vw;
  background: var(--b3-theme-background);

  &--border {
    border-bottom: .5px solid var(--b3-theme-background-light);
  }

  &--dark {
    background-color: var(--b3-theme-surface);
  }

  &__icon {
    height: 20px;
    width: 20px;
    padding: 8px;
    flex-shrink: 0;
    margin: 6px 4px;
    color: var(--b3-theme-on-surface);

    &[disabled] {
      opacity: 0.38;
    }

    &--active {
      background-color: var(--b3-theme-primary);
      border-radius: 4px;
      color: var(--b3-theme-on-primary);
    }
  }

  &__title {
    flex: 1;
    box-shadow: none;
    min-width: 1px;
    line-height: 30px;
    font-size: 17px;
    padding: 0;
    border: 0;
  }

  &__search {
    margin: 8px;
  }

  &__text {
    @include text-clamp(1);
    flex: 1;
    font-size: 17px;
  }
}

.side-panel {
  top: 0;
  left: -110vw;
  right: auto;
  position: fixed;
  background-color: var(--b3-theme-surface);
  height: 100vh;
  width: 100vw;
  z-index: 220;
  transition: top .15s cubic-bezier(0, 0, .2, 1) 0ms, left .15s cubic-bezier(0, 0, .2, 1) 0ms;

  &--all {
    left: 0;
    right: 0;
    top: -200vh;
  }
}

#model {
  .config-about__logo {
    display: flex;
    align-items: center;

    img {
      width: 36px;
    }
  }

  .config-repos__sync {
    margin: 0 auto -16px;
    overflow: hidden;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .config-account {
    &__bg {
      position: relative;
      margin-bottom: 82px;
      width: 100%;
      flex: 1;
    }

    &__cover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    &__avatar {
      position: absolute;
      bottom: 24px;
      width: 128px;
      height: 128px;
      left: 50%;
      margin-left: -64px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 90px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: var(--b3-point-shadow);
      border: 1px solid var(--b3-theme-surface-lighter);
    }

    &__info {
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
    }

    &__name {
      bottom: -58px;
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }
}

#menu {
  transition: right 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 220;
  right: -110vw;
  left: auto;
}

.keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  background: var(--b3-theme-background);
  z-index: 222;
  display: flex;
  border-top: 1px solid var(--b3-theme-surface-lighter);
  overflow: hidden;
  flex-direction: column;

  &__dynamic {
    overflow: auto;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__bar {
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
  }

  &__util {
    flex: 1;
    overflow: auto;
  }

  &__split {
    width: 1px;
    height: 28px;
    background-color: var(--b3-theme-surface-lighter);
    align-self: center;
    flex-shrink: 0;
  }

  &__action {
    background: transparent;
    padding: 0;
    border: 0;
    color: var(--b3-theme-on-surface);

    &[disabled] {
      opacity: 0.38;
    }

    &.protyle-toolbar__item--current {
      color: var(--b3-theme-primary);
    }

    svg {
      height: 16px;
      width: 16px;
      float: left;
      padding: 12px;

      &.keyboard__svg--big {
        width: 30px;
        padding: 4px;
        height: 32px;
      }
    }
  }
}

.svg {
  fill: currentColor;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  width: 14px;
  height: 14px;

  &--mid {
    width: 16px;
    height: 16px;
  }

  &--small {
    width: 12px;
    height: 12px;
  }
}

#empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .b3-list-item {
    width: 200px;
  }
}

.b3-menu {
  &__accelerator {
    display: none;
  }
}

#historyContainer {
  & > div {
    flex-direction: column;

    & > ul {
      width: auto !important;
      flex: 1;
    }
  }
}

.status {
  position: fixed;
  bottom: -30px;
  transition: var(--b3-transition);
  font-size: 12px;
  color: var(--b3-theme-on-surface);
  padding: 4px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--b3-theme-background);
  @extend .fn__ellipsis;
}

@media (max-width: 620px) {
  .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] {
    flex-direction: column;
    flex-wrap: initial;
  }
}

@import "util/responsive";
