@use "../util/mixin";

.b3-card {
  box-shadow: var(--b3-point-shadow);
  background-color: var(--b3-theme-surface);
  border-radius: var(--b3-border-radius);
  overflow: hidden;
  position: relative;
  transition: var(--b3-transition);
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: var(--b3-list-hover);
  }

  &s {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
    margin: 16px;
  }

  &--current {
    background-color: var(--b3-theme-primary-lightest);
  }

  &--disabled {
    opacity: .68;
    pointer-events: none;
  }

  &__img {
    margin: 16px 0 16px 16px;

    img {
      height: 74px;
      object-fit: cover;
      border-radius: var(--b3-border-radius);
      width: 74px;
    }
  }

  &__info {
    padding: 16px 16px 0;
    line-height: 18px;

    &--left {
      padding-bottom: 16px;
      padding-right: 8px;
    }
  }

  &__desc {
    color: var(--b3-theme-on-surface);
    font-size: 12px;
    text-autospace: normal;
    margin-top: 8px;
    max-height: 54px;
    @include mixin.text-clamp(3);
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 11px 11px;

    .block__icon {
      color: var(--b3-theme-on-surface-light);
    }

    &--right {
      padding-left: 0;
      padding-bottom: 0;
      align-items: center;

      .block__icon {
        margin-left: 8px;
      }
    }
  }
}
