.b3-card {
  box-shadow: var(--b3-point-shadow);
  background-color: var(--b3-theme-surface);
  border-radius: var(--b3-border-radius);
  margin: 16px;
  overflow: hidden;
  position: relative;
  transition: var(--b3-transition);
  cursor: pointer;
  display: flex;

  &--wrap {
    flex: 1;
    margin: 16px 0 0 16px;
    min-width: 342px;
  }

  &:hover {
    background-color: var(--b3-theme-surface-lighter);
    transform: translate(0px, -4px);
    box-shadow: var(--b3-dialog-shadow);
  }

  &s {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px 16px 0;
  }

  &--current {
    background-color: var(--b3-theme-primary-lightest)
  }

  &--disabled {
    opacity: .68;
    pointer-events: none;
  }

  &__img {
    margin: 16px 0 16px 16px;

    img {
      height: 74px;
      object-fit: cover;
      border-radius: var(--b3-border-radius);
      width: 74px;
    }
  }

  &__info {
    padding: 16px 16px 4px;
    line-height: 18px;

    &--left {
      padding-bottom: 16px;
      padding-right: 8px;
    }
  }

  &__desc {
    color: var(--b3-theme-on-surface);
    font-size: 12px;
    margin-top: 4px;
    max-height: 54px;
    @include text-clamp(3);
  }

  &__actions {
    padding: 0 16px 14px 16px;
    display: flex;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;

    &--right {
      padding-left: 0;
      padding-bottom: 0;
      align-items: center;

      .block__icon {
        margin-left: 8px;
      }
    }
  }
}
