@use "../util/mixin";

.b3-card {
  box-shadow: var(--b3-point-shadow) inset;
  background-color: var(--b3-theme-surface);
  border-radius: var(--b3-border-radius);
  overflow: hidden;
  position: relative;
  transition: var(--b3-background-transition);
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: var(--b3-list-hover);
  }

  &s {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 342px), 1fr));

    &--nowrap {
      grid-template-columns:1fr;
    }
  }

  &--current {
    background-color: var(--b3-theme-primary-lightest);
  }

  &__img {
    margin: 16px 0 16px 16px;

    img {
      height: 74px;
      object-fit: cover;
      border-radius: var(--b3-border-radius);
      width: 74px;
    }
  }

  &__info {
    padding: 16px 16px 0;
    line-height: 18px;

    &--left {
      padding-bottom: 16px;
      padding-right: 8px;
    }
  }

  &__desc {
    color: var(--b3-theme-on-surface);
    font-size: 12px;
    text-autospace: normal;
    margin-top: 8px;
    max-height: 54px;
    @include mixin.text-clamp(3);
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 11px 11px;

    &:not(.b3-card__actions--right) .block__icon svg {
      height: 12px;
      width: 12px;
    }

    &--right {
      padding-left: 0;
      padding-bottom: 0;
      align-items: center;

      .block__icon {
        margin-left: 8px;
      }
    }
  }
}

// 题头图封面选择
.b3-cover {

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 0;
    gap: 8px;
  }

  &__card {
    aspect-ratio: 3 / 1;
    min-height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:hover {
      opacity: 0.86;
    }
  }
}
