.b3-dialog {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;

  &--open {
    .b3-dialog__scrim {
      opacity: 1;
    }

    .b3-dialog__container {
      transform: none;
      opacity: 1;
    }
  }

  &__scrim {
    background-color: var(--b3-mask-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms linear;
  }

  &__container {
    border-radius: var(--b3-border-radius-b);
    background-color: var(--b3-theme-surface);
    position: relative;
    box-shadow: var(--b3-dialog-shadow);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    max-width: 100%;
    transform: scale(.8);
    opacity: 0;
    transition: opacity 75ms linear, transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
    border: 1px solid var(--b3-theme-surface-lighter);
  }

  &__header {
    padding: 9px 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
  }

  &__body {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: 16px 24px;
    word-break: break-all;
    flex: 1;
    overflow: auto;
  }

  &__action {
    padding: 7px 24px;
    border-top: 1px solid var(--b3-theme-surface-lighter);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    user-select: none;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: -2px;
    right: -36px;
    height: 18px;
    width: 18px;
    opacity: .68;
    color: var(--b3-theme-on-surface);
    padding: 8px;

    &:hover {
      opacity: 1;
    }
  }
}
