.b3-select {
  border: 0;
  border-radius: 4px;
  padding: 4px 26px 4px 8px;
  box-sizing: border-box;
  line-height: 20px;
  color: var(--b3-theme-on-background);
  transition: box-shadow 120ms 0ms cubic-bezier(0, 0, 0.2, 1), background-color .2s cubic-bezier(0, 0, .2, 1) 0ms;
  height: 28px;
  font-size: 14px;
  box-shadow: inset 0 0 0 0.6px var(--b3-theme-on-surface);
  background: var(--b3-select-background);
  appearance: none;
  cursor: pointer;
  overflow: hidden; // iphonex

  &:hover {
    box-shadow: inset 0 0 0 .6px var(--b3-theme-on-background);
    background-color: var(--b3-theme-surface);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--b3-theme-primary), 0 0 0 3px var(--b3-theme-primary-lightest);
  }
}
