.b3-text-field {
  border: 0;
  border-radius: var(--b3-border-radius);
  box-shadow: inset 0 0 0 .6px var(--b3-theme-on-surface);
  padding: 4px 8px;
  line-height: 20px;
  box-sizing: border-box;
  color: var(--b3-theme-on-background);
  transition: box-shadow 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
  background-color: var(--b3-theme-background);
  -webkit-appearance: none;

  &:not(.b3-text-field--text):hover {
    box-shadow: inset 0 0 0 .6px var(--b3-theme-on-background);
  }

  &:not(.b3-text-field--text):focus {
    box-shadow: inset 0 0 0 1px var(--b3-theme-primary), 0 0 0 3px var(--b3-theme-primary-lightest);
  }

  &[type="color"] {
    padding: 0;
  }

  &--small {
    font-size: 12px;
    padding: 0 4px;
  }

  &--text {
    box-shadow: 0 0 0;
  }
}
