name: Make sure new PRs are sent to dev

on:
  pull_request_target:
    types: [opened, edited]

jobs:
  check-branch:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: Vankka/pr-target-branch-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: master
          exclude: dev
          change-to: dev
          comment: |
              The base branch of this PR has been automatically changed to `dev`, please check that there are no merge conflicts.
              此 PR 的基础分支已自动更改为 `dev`，请检查是否存在合并冲突。